In [ ]:
{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "name": "DS_Project_With_Python.ipynb",
      "provenance": [],
      "collapsed_sections": [],
      "mount_file_id": "1671HAxOX5P-WhBDoSXLwlHEki6KCwZ2i",
      "authorship_tag": "ABX9TyN0BG0hN3WCcRLNwFXtWJ/H",
      "include_colab_link": true
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    }
  },
  "cells": [
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "view-in-github",
        "colab_type": "text"
      },
      "source": [
        "<a href=\"https://colab.research.google.com/github/mayanktiwari58/Data-Science-project/blob/main/DS_Project_With_Python.ipynb\" target=\"_parent\"><img src=\"https://colab.research.google.com/assets/colab-badge.svg\" alt=\"Open In Colab\"/></a>"
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "icXch0-3QXvr"
      },
      "source": [
        "import numpy as np\n",
        "import pandas as pd\n",
        "import seaborn as sb"
      ],
      "execution_count": 1,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "OyrKezIHKxW0",
        "outputId": "fb37875b-7e0e-4d5f-f31d-3328595cc40f"
      },
      "source": [
        "from google.colab import drive\n",
        "drive.mount('/content/drive')"
      ],
      "execution_count": 2,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount(\"/content/drive\", force_remount=True).\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 313
        },
        "id": "jg-in93iQ-XX",
        "outputId": "b5d51004-ab11-4304-db14-7f763c8de3fe"
      },
      "source": [
        "covid_data = pd.read_csv(\"/covid19.csv\")\n",
        "covid_data[:5]"
      ],
      "execution_count": 5,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/html": [
              "<div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>FIPS</th>\n",
              "      <th>Admin2</th>\n",
              "      <th>Province_State</th>\n",
              "      <th>Country_Region</th>\n",
              "      <th>Last_Update</th>\n",
              "      <th>Lat</th>\n",
              "      <th>Long_</th>\n",
              "      <th>Confirmed</th>\n",
              "      <th>Deaths</th>\n",
              "      <th>Recovered</th>\n",
              "      <th>Active</th>\n",
              "      <th>Combined_Key</th>\n",
              "      <th>Incident_Rate</th>\n",
              "      <th>Case_Fatality_Ratio</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Afghanistan</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>33.93911</td>\n",
              "      <td>67.709953</td>\n",
              "      <td>51526</td>\n",
              "      <td>2191</td>\n",
              "      <td>41727</td>\n",
              "      <td>0.0</td>\n",
              "      <td>Afghanistan</td>\n",
              "      <td>0.000000</td>\n",
              "      <td>4.252222</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Albania</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>41.15330</td>\n",
              "      <td>20.168300</td>\n",
              "      <td>58316</td>\n",
              "      <td>1181</td>\n",
              "      <td>33634</td>\n",
              "      <td>23501.0</td>\n",
              "      <td>Albania</td>\n",
              "      <td>2026.409062</td>\n",
              "      <td>2.025173</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Algeria</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>28.03390</td>\n",
              "      <td>1.659600</td>\n",
              "      <td>99897</td>\n",
              "      <td>2762</td>\n",
              "      <td>67395</td>\n",
              "      <td>29740.0</td>\n",
              "      <td>Algeria</td>\n",
              "      <td>227.809861</td>\n",
              "      <td>2.764848</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Andorra</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>42.50630</td>\n",
              "      <td>1.521800</td>\n",
              "      <td>8117</td>\n",
              "      <td>84</td>\n",
              "      <td>7463</td>\n",
              "      <td>570.0</td>\n",
              "      <td>Andorra</td>\n",
              "      <td>10505.403482</td>\n",
              "      <td>1.034865</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Angola</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>-11.20270</td>\n",
              "      <td>17.873900</td>\n",
              "      <td>17568</td>\n",
              "      <td>405</td>\n",
              "      <td>11146</td>\n",
              "      <td>6017.0</td>\n",
              "      <td>Angola</td>\n",
              "      <td>53.452981</td>\n",
              "      <td>2.305328</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>"
            ],
            "text/plain": [
              "   FIPS Admin2 Province_State  ... Combined_Key Incident_Rate  Case_Fatality_Ratio\n",
              "0   NaN    NaN            NaN  ...  Afghanistan      0.000000             4.252222\n",
              "1   NaN    NaN            NaN  ...      Albania   2026.409062             2.025173\n",
              "2   NaN    NaN            NaN  ...      Algeria    227.809861             2.764848\n",
              "3   NaN    NaN            NaN  ...      Andorra  10505.403482             1.034865\n",
              "4   NaN    NaN            NaN  ...       Angola     53.452981             2.305328\n",
              "\n",
              "[5 rows x 14 columns]"
            ]
          },
          "metadata": {},
          "execution_count": 5
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "6p6aN2wTV9cJ",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 35
        },
        "outputId": "2e3d38e4-ffa6-4796-9543-22cd2d5d8d46"
      },
      "source": [
        "\"\"\"\n",
        "Read csv file and shown top 5 data.\n",
        "\"\"\""
      ],
      "execution_count": null,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "application/vnd.google.colaboratory.intrinsic+json": {
              "type": "string"
            },
            "text/plain": [
              "'\\nRead csv file and shown top 5 data.\\n'"
            ]
          },
          "metadata": {},
          "execution_count": 4
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 320
        },
        "id": "eDk8TtWoSDbi",
        "outputId": "c22345dd-dd0e-4b8c-882d-d71700729298"
      },
      "source": [
        "covid_data.describe()"
      ],
      "execution_count": 6,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/html": [
              "<div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>FIPS</th>\n",
              "      <th>Lat</th>\n",
              "      <th>Long_</th>\n",
              "      <th>Confirmed</th>\n",
              "      <th>Deaths</th>\n",
              "      <th>Recovered</th>\n",
              "      <th>Active</th>\n",
              "      <th>Incident_Rate</th>\n",
              "      <th>Case_Fatality_Ratio</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>count</th>\n",
              "      <td>3265.000000</td>\n",
              "      <td>3897.000000</td>\n",
              "      <td>3897.000000</td>\n",
              "      <td>3.984000e+03</td>\n",
              "      <td>3984.000000</td>\n",
              "      <td>3.984000e+03</td>\n",
              "      <td>3.983000e+03</td>\n",
              "      <td>3895.000000</td>\n",
              "      <td>3940.000000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>mean</th>\n",
              "      <td>32386.688208</td>\n",
              "      <td>35.973564</td>\n",
              "      <td>-72.005376</td>\n",
              "      <td>2.110788e+04</td>\n",
              "      <td>474.467620</td>\n",
              "      <td>1.187575e+04</td>\n",
              "      <td>8.748282e+03</td>\n",
              "      <td>5770.649567</td>\n",
              "      <td>1.939365</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>std</th>\n",
              "      <td>18017.294540</td>\n",
              "      <td>13.043953</td>\n",
              "      <td>53.751137</td>\n",
              "      <td>1.057523e+05</td>\n",
              "      <td>2729.271632</td>\n",
              "      <td>8.221851e+04</td>\n",
              "      <td>6.180559e+04</td>\n",
              "      <td>3208.655754</td>\n",
              "      <td>5.493363</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>min</th>\n",
              "      <td>66.000000</td>\n",
              "      <td>-52.368000</td>\n",
              "      <td>-174.159600</td>\n",
              "      <td>0.000000e+00</td>\n",
              "      <td>0.000000</td>\n",
              "      <td>0.000000e+00</td>\n",
              "      <td>-1.083768e+06</td>\n",
              "      <td>0.000000</td>\n",
              "      <td>0.000000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>25%</th>\n",
              "      <td>19049.000000</td>\n",
              "      <td>33.268798</td>\n",
              "      <td>-96.616867</td>\n",
              "      <td>7.000000e+02</td>\n",
              "      <td>9.000000</td>\n",
              "      <td>0.000000e+00</td>\n",
              "      <td>5.910000e+02</td>\n",
              "      <td>3599.272506</td>\n",
              "      <td>0.969272</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>50%</th>\n",
              "      <td>30067.000000</td>\n",
              "      <td>37.946365</td>\n",
              "      <td>-86.854759</td>\n",
              "      <td>1.964000e+03</td>\n",
              "      <td>32.000000</td>\n",
              "      <td>0.000000e+00</td>\n",
              "      <td>1.663000e+03</td>\n",
              "      <td>5851.131858</td>\n",
              "      <td>1.540464</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>75%</th>\n",
              "      <td>47039.000000</td>\n",
              "      <td>42.220792</td>\n",
              "      <td>-77.492245</td>\n",
              "      <td>7.721750e+03</td>\n",
              "      <td>114.000000</td>\n",
              "      <td>0.000000e+00</td>\n",
              "      <td>4.926000e+03</td>\n",
              "      <td>7762.999138</td>\n",
              "      <td>2.310092</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>max</th>\n",
              "      <td>99999.000000</td>\n",
              "      <td>71.706900</td>\n",
              "      <td>178.065000</td>\n",
              "      <td>2.636045e+06</td>\n",
              "      <td>64731.000000</td>\n",
              "      <td>2.114760e+06</td>\n",
              "      <td>2.400750e+06</td>\n",
              "      <td>27388.219766</td>\n",
              "      <td>271.875000</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>"
            ],
            "text/plain": [
              "               FIPS          Lat  ...  Incident_Rate  Case_Fatality_Ratio\n",
              "count   3265.000000  3897.000000  ...    3895.000000          3940.000000\n",
              "mean   32386.688208    35.973564  ...    5770.649567             1.939365\n",
              "std    18017.294540    13.043953  ...    3208.655754             5.493363\n",
              "min       66.000000   -52.368000  ...       0.000000             0.000000\n",
              "25%    19049.000000    33.268798  ...    3599.272506             0.969272\n",
              "50%    30067.000000    37.946365  ...    5851.131858             1.540464\n",
              "75%    47039.000000    42.220792  ...    7762.999138             2.310092\n",
              "max    99999.000000    71.706900  ...   27388.219766           271.875000\n",
              "\n",
              "[8 rows x 9 columns]"
            ]
          },
          "metadata": {},
          "execution_count": 6
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "uxbeokPmWGJ4"
      },
      "source": [
        "\"\"\"Show the summary of data.\"\"\""
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "6s3F25SVSx6t",
        "outputId": "5234f99f-16ee-4c00-e034-6e72b6d4d24d"
      },
      "source": [
        "covid_data.info()"
      ],
      "execution_count": 7,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "<class 'pandas.core.frame.DataFrame'>\n",
            "RangeIndex: 3984 entries, 0 to 3983\n",
            "Data columns (total 14 columns):\n",
            " #   Column               Non-Null Count  Dtype  \n",
            "---  ------               --------------  -----  \n",
            " 0   FIPS                 3265 non-null   float64\n",
            " 1   Admin2               3270 non-null   object \n",
            " 2   Province_State       3811 non-null   object \n",
            " 3   Country_Region       3984 non-null   object \n",
            " 4   Last_Update          3984 non-null   object \n",
            " 5   Lat                  3897 non-null   float64\n",
            " 6   Long_                3897 non-null   float64\n",
            " 7   Confirmed            3984 non-null   int64  \n",
            " 8   Deaths               3984 non-null   int64  \n",
            " 9   Recovered            3984 non-null   int64  \n",
            " 10  Active               3983 non-null   float64\n",
            " 11  Combined_Key         3984 non-null   object \n",
            " 12  Incident_Rate        3895 non-null   float64\n",
            " 13  Case_Fatality_Ratio  3940 non-null   float64\n",
            "dtypes: float64(6), int64(3), object(5)\n",
            "memory usage: 435.9+ KB\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "_4BqhpKgWOIN"
      },
      "source": [
        "\"\"\"Shown the information that contain data\"\"\""
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "G3WX1NB6S9jM",
        "outputId": "686e28d0-2f70-41fd-b2fe-95d4707e6500"
      },
      "source": [
        "covid_data.isnull().sum()"
      ],
      "execution_count": 8,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "FIPS                   719\n",
              "Admin2                 714\n",
              "Province_State         173\n",
              "Country_Region           0\n",
              "Last_Update              0\n",
              "Lat                     87\n",
              "Long_                   87\n",
              "Confirmed                0\n",
              "Deaths                   0\n",
              "Recovered                0\n",
              "Active                   1\n",
              "Combined_Key             0\n",
              "Incident_Rate           89\n",
              "Case_Fatality_Ratio     44\n",
              "dtype: int64"
            ]
          },
          "metadata": {},
          "execution_count": 8
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "5Wi27YuBTTfN"
      },
      "source": [
        "\"\"\"Shown null value of each column\"\"\""
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 135
        },
        "id": "6BnsD7lgWna-",
        "outputId": "872aca1e-f56f-412f-f77d-763f07382d5d"
      },
      "source": [
        "covid_data[covid_data['Active'].isnull()]"
      ],
      "execution_count": 9,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/html": [
              "<div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>FIPS</th>\n",
              "      <th>Admin2</th>\n",
              "      <th>Province_State</th>\n",
              "      <th>Country_Region</th>\n",
              "      <th>Last_Update</th>\n",
              "      <th>Lat</th>\n",
              "      <th>Long_</th>\n",
              "      <th>Confirmed</th>\n",
              "      <th>Deaths</th>\n",
              "      <th>Recovered</th>\n",
              "      <th>Active</th>\n",
              "      <th>Combined_Key</th>\n",
              "      <th>Incident_Rate</th>\n",
              "      <th>Case_Fatality_Ratio</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>78</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Diamond Princess</td>\n",
              "      <td>Canada</td>\n",
              "      <td>2020-12-21 13:27:30</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Diamond Princess, Canada</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>"
            ],
            "text/plain": [
              "    FIPS Admin2  ... Incident_Rate Case_Fatality_Ratio\n",
              "78   NaN    NaN  ...           NaN                 NaN\n",
              "\n",
              "[1 rows x 14 columns]"
            ]
          },
          "metadata": {},
          "execution_count": 9
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 135
        },
        "id": "cmtISX408fup",
        "outputId": "a99026d4-8d63-4355-f8d1-586b1ebdf441"
      },
      "source": [
        "covid_data[covid_data['Active'].isnull()].fillna(0)"
      ],
      "execution_count": 10,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/html": [
              "<div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>FIPS</th>\n",
              "      <th>Admin2</th>\n",
              "      <th>Province_State</th>\n",
              "      <th>Country_Region</th>\n",
              "      <th>Last_Update</th>\n",
              "      <th>Lat</th>\n",
              "      <th>Long_</th>\n",
              "      <th>Confirmed</th>\n",
              "      <th>Deaths</th>\n",
              "      <th>Recovered</th>\n",
              "      <th>Active</th>\n",
              "      <th>Combined_Key</th>\n",
              "      <th>Incident_Rate</th>\n",
              "      <th>Case_Fatality_Ratio</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>78</th>\n",
              "      <td>0.0</td>\n",
              "      <td>0</td>\n",
              "      <td>Diamond Princess</td>\n",
              "      <td>Canada</td>\n",
              "      <td>2020-12-21 13:27:30</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>0.0</td>\n",
              "      <td>Diamond Princess, Canada</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.0</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>"
            ],
            "text/plain": [
              "    FIPS  Admin2  ... Incident_Rate Case_Fatality_Ratio\n",
              "78   0.0       0  ...           0.0                 0.0\n",
              "\n",
              "[1 rows x 14 columns]"
            ]
          },
          "metadata": {},
          "execution_count": 10
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "6luRjpBs_L13",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 635
        },
        "outputId": "a342afa3-0c8c-4565-bf56-6c37c436b989"
      },
      "source": [
        "#covid_data[covid_data.Confirmed > 0]\n",
        "#covid_data[covid_data.Deaths > 0]\n",
        "#covid_data[covid_data.Recovered > 0]\n",
        "# Or\n",
        "covid_data = covid_data[covid_data != 0]\n",
        "covid_data\n",
        "#df = df[df.line_race != 0]"
      ],
      "execution_count": 43,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/html": [
              "<div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>FIPS</th>\n",
              "      <th>Admin2</th>\n",
              "      <th>Province_State</th>\n",
              "      <th>Country_Region</th>\n",
              "      <th>Last_Update</th>\n",
              "      <th>Lat</th>\n",
              "      <th>Long_</th>\n",
              "      <th>Confirmed</th>\n",
              "      <th>Deaths</th>\n",
              "      <th>Recovered</th>\n",
              "      <th>Active</th>\n",
              "      <th>Combined_Key</th>\n",
              "      <th>Incident_Rate</th>\n",
              "      <th>Case_Fatality_Ratio</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Afghanistan</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>33.93911</td>\n",
              "      <td>67.709953</td>\n",
              "      <td>51526.0</td>\n",
              "      <td>2191.0</td>\n",
              "      <td>41727.0</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Afghanistan</td>\n",
              "      <td>NaN</td>\n",
              "      <td>4.252222</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Albania</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>41.15330</td>\n",
              "      <td>20.168300</td>\n",
              "      <td>58316.0</td>\n",
              "      <td>1181.0</td>\n",
              "      <td>33634.0</td>\n",
              "      <td>23501.0</td>\n",
              "      <td>Albania</td>\n",
              "      <td>2026.409062</td>\n",
              "      <td>2.025173</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Algeria</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>28.03390</td>\n",
              "      <td>1.659600</td>\n",
              "      <td>99897.0</td>\n",
              "      <td>2762.0</td>\n",
              "      <td>67395.0</td>\n",
              "      <td>29740.0</td>\n",
              "      <td>Algeria</td>\n",
              "      <td>227.809861</td>\n",
              "      <td>2.764848</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Andorra</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>42.50630</td>\n",
              "      <td>1.521800</td>\n",
              "      <td>8117.0</td>\n",
              "      <td>84.0</td>\n",
              "      <td>7463.0</td>\n",
              "      <td>570.0</td>\n",
              "      <td>Andorra</td>\n",
              "      <td>10505.403482</td>\n",
              "      <td>1.034865</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Angola</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>-11.20270</td>\n",
              "      <td>17.873900</td>\n",
              "      <td>17568.0</td>\n",
              "      <td>405.0</td>\n",
              "      <td>11146.0</td>\n",
              "      <td>6017.0</td>\n",
              "      <td>Angola</td>\n",
              "      <td>53.452981</td>\n",
              "      <td>2.305328</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>...</th>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3979</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Unknown</td>\n",
              "      <td>China</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Unknown, China</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3980</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Kiribati</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>-3.37040</td>\n",
              "      <td>-168.734000</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Kiribati</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3981</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Palau</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>7.51500</td>\n",
              "      <td>134.582500</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Palau</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3982</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Cook Islands</td>\n",
              "      <td>New Zealand</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>-21.23670</td>\n",
              "      <td>-159.777700</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Cook Islands, New Zealand</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3983</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Summer Olympics 2020</td>\n",
              "      <td>2021-01-02 05:22:33</td>\n",
              "      <td>35.64910</td>\n",
              "      <td>139.773700</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Summer Olympics 2020</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "<p>3984 rows Ã— 14 columns</p>\n",
              "</div>"
            ],
            "text/plain": [
              "      FIPS Admin2  ... Incident_Rate Case_Fatality_Ratio\n",
              "0      NaN    NaN  ...           NaN            4.252222\n",
              "1      NaN    NaN  ...   2026.409062            2.025173\n",
              "2      NaN    NaN  ...    227.809861            2.764848\n",
              "3      NaN    NaN  ...  10505.403482            1.034865\n",
              "4      NaN    NaN  ...     53.452981            2.305328\n",
              "...    ...    ...  ...           ...                 ...\n",
              "3979   NaN    NaN  ...           NaN                 NaN\n",
              "3980   NaN    NaN  ...           NaN                 NaN\n",
              "3981   NaN    NaN  ...           NaN                 NaN\n",
              "3982   NaN    NaN  ...           NaN                 NaN\n",
              "3983   NaN    NaN  ...           NaN                 NaN\n",
              "\n",
              "[3984 rows x 14 columns]"
            ]
          },
          "metadata": {},
          "execution_count": 43
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 424
        },
        "id": "x9xw-rcGa8XO",
        "outputId": "c39df601-d54b-4703-ae20-bd18d3775b84"
      },
      "source": [
        "x = covid_data.iloc[:, 7:10]\n",
        "x"
      ],
      "execution_count": 47,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/html": [
              "<div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Confirmed</th>\n",
              "      <th>Deaths</th>\n",
              "      <th>Recovered</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>51526.0</td>\n",
              "      <td>2191.0</td>\n",
              "      <td>41727.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>58316.0</td>\n",
              "      <td>1181.0</td>\n",
              "      <td>33634.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>99897.0</td>\n",
              "      <td>2762.0</td>\n",
              "      <td>67395.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>8117.0</td>\n",
              "      <td>84.0</td>\n",
              "      <td>7463.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>17568.0</td>\n",
              "      <td>405.0</td>\n",
              "      <td>11146.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>...</th>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3979</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3980</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3981</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3982</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3983</th>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "<p>3984 rows Ã— 3 columns</p>\n",
              "</div>"
            ],
            "text/plain": [
              "      Confirmed  Deaths  Recovered\n",
              "0       51526.0  2191.0    41727.0\n",
              "1       58316.0  1181.0    33634.0\n",
              "2       99897.0  2762.0    67395.0\n",
              "3        8117.0    84.0     7463.0\n",
              "4       17568.0   405.0    11146.0\n",
              "...         ...     ...        ...\n",
              "3979        NaN     NaN        NaN\n",
              "3980        NaN     NaN        NaN\n",
              "3981        NaN     NaN        NaN\n",
              "3982        NaN     NaN        NaN\n",
              "3983        NaN     NaN        NaN\n",
              "\n",
              "[3984 rows x 3 columns]"
            ]
          },
          "metadata": {},
          "execution_count": 47
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 201
        },
        "id": "2SFqUFPdDc4N",
        "outputId": "25207f07-97e1-4655-ee70-84990937d810"
      },
      "source": [
        "y = np.log(x)\n",
        "y"
      ],
      "execution_count": 40,
      "outputs": [
        {
          "output_type": "error",
          "ename": "TypeError",
          "evalue": "ignored",
          "traceback": [
            "\u001b[0;31m---------------------------------------------------------------------------\u001b[0m",
            "\u001b[0;31mTypeError\u001b[0m                                 Traceback (most recent call last)",
            "\u001b[0;32m<ipython-input-40-ed1d8a5652f4>\u001b[0m in \u001b[0;36m<module>\u001b[0;34m()\u001b[0m\n\u001b[0;32m----> 1\u001b[0;31m \u001b[0my\u001b[0m \u001b[0;34m=\u001b[0m \u001b[0mnp\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0mlog\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0mx\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0m\u001b[1;32m      2\u001b[0m \u001b[0my\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n",
            "\u001b[0;31mTypeError\u001b[0m: ufunc 'log' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "HwJGUIGdFihW"
      },
      "source": [
        "%matplotlib inline\n",
        "import matplotlib.pyplot as plt\n",
        "import seaborn; seaborn.set()"
      ],
      "execution_count": 14,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "3vvkbYGRo3P4",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 285
        },
        "outputId": "31da1aef-b7f3-4836-bb30-9100a273ccb0"
      },
      "source": [
        "plt.hist(y['Confirmed'], label='Confirmed', alpha=0.5);\n",
        "plt.hist(y['Deaths'], label='Deaths', alpha=0.5);\n",
        "plt.hist(y['Recovered'], label='Recovered',alpha=0.5);\n",
        "plt.legend()"
      ],
      "execution_count": 15,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "<matplotlib.legend.Legend at 0x7f66e991f6d0>"
            ]
          },
          "metadata": {},
          "execution_count": 15
        },
        {
          "output_type": "display_data",
          "data": {
            "image/png": "iVBORw0KGgoAAAANSUhEUgAAAXsAAAD7CAYAAACL+TRnAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADh0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uMy4yLjIsIGh0dHA6Ly9tYXRwbG90bGliLm9yZy+WH4yJAAAgAElEQVR4nO3dfXxT5d0/8M85OWlCS0uaUqA8SOXRIpsIUXD60lkccLtS9DU3WMU5wDF/PsEmCLLaAkW0wM1gQgc6pkNRNjcFKY4yB5PBpjc42L1SBC3lsYVCS6ENTZucc35/9CaQJm3zcEISzuf9F7lyzvf65qTny8mVK9cRVFVVQURENzQx0gkQEVH4sdgTEekAiz0RkQ6w2BMR6QCLPRGRDrDYExHpAIs9EZEOSJFOoD0XLtihKIH/DCAlpTNqahrCkJF2mKM2YiFHIDbyZI7aiGSOoiggOTnB53NRXewVRQ2q2F/ZN9oxR23EQo5AbOTJHLURjTlyGIeISAdY7ImIdCCqh3FaU1UVFy6cQ3OzA0DbH5Oqq0UoinL9EgtCbOYoIC7OjOTkVAiCELG8iChwMVXsGxouQhAEdO/eG4LQ9ocSSRLhckV3IY3FHFVVQV3deTQ0XERioiWCmRFRoGJqGKexsQGJiZZ2Cz2FjyCISExMRmNjdM+GICJvHVbNwsJCZGZmYvDgwThy5Ii7vampCfn5+RgzZgzGjx+Pl156yf1cRUUFJk6ciLFjx2LixIk4duyYJskqigyDIaY+jNxwDAYJiiJHOg0iClCHlXP06NH40Y9+hEcffdSjfenSpTCZTCgpKYEgCDh//rz7ufz8fOTk5GDChAnYvHkz8vLysH79ek0S5lhxZPH4E8WmDou9zWbzarPb7di0aRM+/fRT98nftWtXAEBNTQ3Kysrw5ptvAgCysrJQUFCA2tpaWK1WLXMHAMgAmpyeY9+iS0Go01xNRhEGP7ZzuVx4663f4JNPtsNkioMoihg+/A78v//3LCQp8E8hFy/WYc6cn8PhcGDMmHG4fPkybr65H0aPHhP4iwjSunVr0djYiJkzf37d+qTry9d5c7b2MhxObb9H8vc8ovALakzk5MmTsFgsWLVqFT7//HMkJCRgxowZsNlsqKqqQvfu3WEwtLzFBoMB3bp1Q1VVVViKfZNTwfbPjnm0iaIQ8o8axoxKR7yx4+8GFi9egKYmB37727cRH58Al8uFrVs/QnNzc1DFft++/0FiYiLWrPltu9spigJBEHilTUHxdd4kJJhgtzdp2o+/5xGFX1DFXpZlnDx5EkOGDMGcOXPw73//G08++ST+8pe/aJpcSkpnj8fV1SIkyfMPR3QpEEXvguerLRCiAK++Wjtx4gR27dqJjz7ahqSkRACAJMXhe997BLIsY/Xqlfjss38AAEaN+haefvo5GAwGLFyYD5MpDidOHMfZs2fxjW98E3l5C/Gvf+1DUdGvYLc3YMqUHDz//Av46KPNyMjIwPe/PwlvvLEGFRVH0dDQgLNnz2DhwsV47rmnMGHCw/jss3+gqakJCxYswgcf/AkHD/4HJpMZS5cuR0pKy6eu9evfwt/+9le4XDJSU1Mxb95LSEnpioaGerz88kIcPVoOqzUF3bt3h9Wa8n+vx/sYiKKI1NTEkI6vlqIpl/ZEU55nay8jIcHk1e6rLRRmsxGp1nhNY0bTcWxLNOYYVLFPS0uDJEnIysoCANx2221ITk5GRUUFevbsibNnz0KWZRgMBsiyjOrqaqSlpQXcT01Ng8cVuqIoXtMVFdX7p8laXNkrKjqcGnno0CH07n0T4uM7e2374Yd/wuHDh7Fu3TsAgFmznsMHH/wJDz/8CFRVRXl5OX75y9UQRRFTpjyKzz77J+64YxSmTfsp/vGPv2PRoiUAgM2bN0FRVLhcChRFRWnpf/Db326AxWJBVVUlLl6sw9Cht2H69Kfx7rvr8cwzT+K119bihRd+gWXLXsXvf78R06c/hZKSj3Hy5EmsWfMmRFHEhx/+EStWLEd+/iK88cbr6NQpHhs2/BF1dXWYOvVRZGZ+B4DvY6AoCs6dqw/p+GolNTUxanJpTyTzVCQnmpRmjzZZUXFTH88BFkkywOUK/st3xSnicLnnTC2Hw6np646F9zuSOYqi4HWRfEVQxd5qtWLkyJHYs2cP7rnnHlRUVKCmpgZ9+/ZFUlISMjIyUFxcjAkTJqC4uBgZGRlhGcKJZvv2fY4HH8yC0WgEADz44Hjs2rUTDz/8CADgvvu+DZOp5Spq8ODBOH36FO64o+O4d911NyyWq3PcO3WKx7e+dQ8AYNCgW5Ca2g0DBw4GANxyyy3Yu/dzAMDu3bvw5ZeHMHXqZACALLvQuXPLH8X+/fswc+ZsAIDFYsF992WG+vIpijQpzdjx9R6PNqeiovxUnUeb0SjB6XQF3U/WrfcFvS+FX4fFftGiRdi+fTvOnz+PKVOmwGKxYOvWrViwYAHmzZuHwsJCSJKEJUuWICkpCQAwf/58zJ07F0VFRUhKSkJhYWHYX0gkDBo0GKdOncClS5fcr91fcXFx7n+LYssnIH906uT5kTguznhNHBFxcaZrHl+Nq6oqHn98KrKyJgSUJxHdGDos9rm5ucjNzfVq79OnD95++22f+/Tv3x/vv/9+6NlFuT59bsLdd9+LpUsX48UXX0J8fAJkWcbHH2/B7bePwJ//XOyeRfPnPxfj29+O3BXzPffci/ff34h7770fSUlJaG5uxvHjxzBw4CAMH34HPv54C775zWG4eLEOu3btxP33PxCxXIlIe/yFUohycxfgt799HVOnPgajUYKqqhg16m5Mn/4UqqqqMGVKDgDgzjvvwvjxD0csz3HjvouLF+vw7LPTAbSMuz/88PcxcOAg/PjHT+CVVxYgJ+d7sFpTMGzY7RHLk4jCQ1BVNfoWXv4/rb+gPXPmOHr06Ouxjc959gKu2zz7YMXi2jhX+HofIiUWvrADIptno2i/bmP2h7687NGm9dTLWHi/b6gvaKOJAfD6Y4qFQkpEdD3x1w5ERDrAYk9EpAMs9kREOsBiT0SkAyz2REQ6wGJPRKQDMT/10iw0AS7PZVlFVYAU6kR7yQSH2vEKgI88Mh5xcXEwGuPgcDTi5pv74dFHH8c3vnFb0F3/4Q/v4jvfGYfk5Jb1hK6sL//MMzODjklE+hbzxR6uJlzc/1ePJi1Wvexy+2jA4N9yr4sWFaJfvwEAgE8/3YHZs2fgv/97FW69dWhQff/hD+/BZrvTXeyJiEIV+8U+ytx3XybKyg7ivffeRn7+Irz+ehEOHPgCzc1ODBgwAM8//yLi4+NRUvJnbNz4LlwuJwDg6adnwma7E7/73TqcP38OublzEBdnQn7+IgDAuXPVmDXrOVRWnkavXr1RUFAIs9mMv//9b3jjjV//36JnLvzsZy9g+HDvu4sRkb6x2IfBkCFDsWfPLmzY8DskJCTgjTda7r9bVPQrvP32m/jpT5/GqFF3ITNzDARBwIkTxzBjxlP48MOP8fjj07BlyyaPTwsAcPjwIbzxxnp07twZP//5M9i+/c/Izn4Yv/lNy9r1Q4d+E7Isw+FojNTLJqIoxmIfFi1DSHv27ILdbsff/rYDAOB0NmPAgIEAgFOnTmHNmtU4d+4cJElCbW0NamrOu+8q1dqdd45CYmLL3W+GDBmK06dPAQBGjLDhV79ajm9/OxOjRn3L4z8IIqIrWOzD4NChMtx8c39UVVXi+efnYsQI77uS5OXNw9NPz8S9934biqLggQfuQXNzs49oLTzXqRfd69Q/99zzKC//Gl98sRcvvTQXEyc+iuzsyK2uSUTRiVMvNfb3v/8Nmzb9EZMmTcY999yL3/9+A5qaHACAy5ftOHasAgBQX1+PtLSeAOC+QfkVCQkJaGho8A7uw4kTx9C//wD84Ac/xJgx/4VDh8o0fkVEdCOI/St7ydQyc+YaWszGgWS6MhrTodzcOe6pl+npN2Pp0pW49dahGDz4FqxbtxZPPPEjiKIIQMDUqT9BevrN+NnPnse8ebOQmJiIkSO/hS5durjjPfLIJCxevBBms9n9BW1bfv3rVTh16gQMBgmdO3fGiy/mhfCiiehG5dd69oWFhSgpKcHp06exZcsWDBo0yOP5VatW4bXXXvN47sCBA8jLy0NTUxN69eqFpUuXIiUlJaDk/FnP3pdYWOI4lnPkevaB43r22oiF9zta17P3610YPXo0NmzYgF69enk9d/DgQRw4cMDjOUVRMHv2bOTl5aGkpAQ2mw3Lli0LMn0iIgqVX8XeZrMhLS3Nq725uRkLFy7E/PnzPdpLS0thMplgs7XM9540aRK2bdsWerZERBSUkMbsV65ciezsbPTu3dujvaqqCj179nQ/tlqtUBQFdXV1sFgsfsdv/XGkulqEJPn3kdDf7SIpVnMURRGpqYkRyMa3aMqlPZHKs9rejPgEz1+D2xudMBq9T39fbf6SJAMSWvVjNhuRao0POqYvsfB+R2OOQb+z+/fvR2lpKWbNmqVlPh5aj9kriuLXOHcsj4dHk7ZyVBQlasZNY2EMF4hsng7Rict2z/WjXIrqNT4f6pi9yyXD3qofh8Op6euOhfc7Wsfsgy72e/fuRXl5OUaPbpkJc+bMGUybNg2vvPIK0tLSUFlZ6d62trYWoigGdFVPRETaCbrYT58+HdOnT3c/zszMxJo1azBo0CAoigKHw4F9+/bBZrNh48aNGDdunCYJExFR4Pwq9osWLcL27dtx/vx5TJkyBRaLBVu3bm1ze1EUsWTJEuTn53tMvQwHRXKiSfH85amoAkqIw+EmMQ6iy9jhdtcucexyOTFp0mSMH/9QaJ1HgXXr1qKpyYGnnpoR6VSISAN+Ffvc3Fzk5ua2u82OHTs8Hg8fPhxbtmwJPjM/NSnNXnOItfhRVeaAu9EJHRd74OoSx0ePfo2pUyfjrrvuRteuqSH1rzWXywVJiv3f0BFRcHj2a6hfvwFITEzCuXPVuHzZjpUrl+PixTo4nU784Ac/xHe/mw0AKC39XxQV/Qp2ux0A8PTTM3DnnaNw6NBBrFixDA5HI8zmTpg5cxYyMm7Fq68WoF+/liURAODo0a8xZ87z+MMfNuHyZTtee+2XKC//Cs3Nzbj9dhueffZnMBgMeOaZ6Rg4cDAOHvwPkpKSsGzZr/DOO2/h0093QJZldO3aDXPm/AIpKV3R0NCAV19diKNHy2G1pqB79+5tLspGRLGHxV5D//u/B9CliwUDBgzCT386Bfn5i9C3bzouX7Zj2rTHMHToN5GcnIx582bj1VeXYciQb0CWZdjtdjidTvziFy9g3rx82Gx3Yu/ez/GLX7yA3/9+E/7rv8Zj5cql7mK/desWPPhgFgRBwGuv/RLDhg3H3LkvQVEULFiQi61bP3IvhlZZeQpFRb+BJEkoKfkYp0+fxtq1b0EURXz44R+xatUK5OcvwptvvoH4+AS8++6fUFdXh6lTH8UDD4yJ5OEkIg2x2GsgN3cOVFXF6dOnUFDwKk6dOonjxyuQnz/PvY3T6cSxYxU4ffoU0tNvxje/eRtcLgUGgwFJSUkoL/8aRqMRNtudAIA77hgJo9GIEyeO47bbhuHy5csoL/8affum45NPSrB27ZsAgN27d+HQoYPYuHEDAMDhcKBbt+7ufr/znXHu4Zvdu3fhyy8PYerUyQAAWXahc+eWaVr79+/DzJmzAQAWiwX33ZcZ5qNGRNcTi70GrozZ79jxCRYvXoBXX12OLl0seOutd722/cc/dgfVx7hx38XHH2/B7bePQHr6zejR48ovmlUsXrwMvXr19rlfp05Xf9Ciqioef3wqsrImBJUDEcWu6P8JZwzJzHwAd9wxCjt3fgKz2Yxt267OWDp+/Bjs9gYMHfoNHDtWgf/8598AAFmWcenSJdx0U184nU7861/7AABffLEXLpcLN93UsuDYuHFZ+OSTEhQXb8KDD453x7377nvxzju/c69vX1dXh8rK0z7zu+eee/Hhh3/EpUuXALQsd/HVV0cAAMOH34GPP275Qv3ixTrs2rVTy0NDRBHGK3uNPfnkM5g2bTKWLFmBd955C++99zZkWYHVasXCha/CYrHg5ZeXYOXK5WhsbIQgiHj66Rm4446RePnlJR5f0C5aVAijsWVGUI8ePZCe3g/793+B+fMXu/ubMeN5FBX9Cj/+8Q8hCAKMxjg899zz6NnTe9G6ceO+i4sX6/Dssy2/j1AUBQ8//H0MHDgIP/7xE3jllQXIyfkerNYUDBt2+/U5YER0Xfi1xHGk+LPEsc959gIQ6nL2/s6zD1YsL5fAJY4DxyWOtREL7/cNt1xCtBBdRq/58JIkwiWHWEijuw4TEQWEY/ZERDrAYk9EpAMxV+yj+CsGXeDxJ4pNMVXsJSkOdvslFpwIUVUVdvslSFJcpFMhogDF1Be0ycmpuHDhHBoa6trdThRFKEp0f8MaqzlKUhySk6NrkTci6lhMFXuDQULXrt73wm2N07O0EQs5EpF/YmoYh4iIgsNiT0SkA34V+8LCQmRmZmLw4ME4cqRlLZULFy7gJz/5CcaOHYvx48fjmWeeQW1trXufAwcOIDs7G2PHjsXUqVNRU1MTnldAREQd8qvYjx49Ghs2bECvXlfXWxEEAU888QRKSkqwZcsW9OnTB8uWLQPQsubK7NmzkZeXh5KSEthsNvdzRER0/flV7G02G9LSPL8YtVgsGDlypPvxsGHDUFlZCQAoLS2FyWSCzWYDAEyaNAnbtm3TKmciIgqQJmP2iqLgvffeQ2Zmyw0vqqqq0LNnT/fzVqsViqKgrq79KZNERBQemky9LCgoQHx8PCZPnqxFOLe2Vm/zR2pqooaZhAdz1EYs5AhELs9qezPiE0webfZGJ4xG79PfV5u/JMmAhFb9mM1GpFrj29gjOLHwfkdjjiEX+8LCQhw/fhxr1qyBKLZ8UEhLS3MP6QBAbW0tRFGExWIJKHbrJY79FQvzw5mjNmIhRyCyeTpEJy7bmzzaXIrqtZxxqEscu1wy7K36cTicmr7uWHi/o3WJ45CGcZYvX47S0lKsXr0acXFXf0I/dOhQOBwO7NvXcteljRs3Yty4caF0RUREIfDryn7RokXYvn07zp8/jylTpsBisWDFihVYu3Yt0tPTMWnSJABA7969sXr1aoiiiCVLliA/Px9NTU3o1asXli5dGtYXQkREbfOr2Ofm5iI3N9er/fDhw23uM3z4cGzZsiX4zEj3zEIT4GpqdxtnXSPMsjPw4JIJDtXU8XZEN4iYWhuHdMbVhIv7/9ruJs4Ek9d4tD+63D4aMLDYk35wuQQiIh1gsSci0gEWeyIiHWCxJyLSARZ7IiIdYLEnItIBFnsiIh1gsSci0gEWeyIiHWCxJyLSARZ7IiIdYLEnItIBFnsiIh1gsSci0gEWeyIiHWCxJyLSgQ6LfWFhITIzMzF48GAcOXLE3V5RUYGJEydi7NixmDhxIo4dO+bXc0REdP11WOxHjx6NDRs2oFevXh7t+fn5yMnJQUlJCXJycpCXl+fXc0REdP11WOxtNhvS0tI82mpqalBWVoasrCwAQFZWFsrKylBbW9vuc0REFBlB3YO2qqoK3bt3h8FgAAAYDAZ069YNVVVVUFW1zeesVqt2mRMRkd+i+objKSmdg943NTVRw0zCgzm2z1nXCGdCxzcFj/djm9bMZiMSLdf3tUXqWFbbm72Okb3RCaPR+/T31eYvSTIgoVU/ZrMRqdb4oGP6wvMmOEG9s2lpaTh79ixkWYbBYIAsy6iurkZaWhpUVW3zuUDV1DRAUdSA90tNTcS5c/UB73c9MceOmWUnLtub2t0mPsHU4Ta+GB1O1F3H1xbJY+kQvY+jS1HhdLo82oxGyastEC6XDHurfhwOp6avO9J/k/6IZI6iKLR5kRzU1MuUlBRkZGSguLgYAFBcXIyMjAxYrdZ2nyMiosjo8Mp+0aJF2L59O86fP48pU6bAYrFg69atmD9/PubOnYuioiIkJSWhsLDQvU97zxER0fXXYbHPzc1Fbm6uV3v//v3x/vvv+9ynveeIiOj64y9oiYh0IKpn4xDpjQygyaloGlMxqnC2mugQ+LQHinUs9kQRokhONCnNHm2youJ0XYOm/XRJlFB+qs6j7eZeFk37oOjHYk8UIU1KM3Z8vcejzamoXoU5VJO/NVrTeBSbOGZPRKQDvLInorARRQGXNfwO4mztZThaxTMZRRg06+HGxWJPRGHT7FKw43+OaxYvIcHk9SvdMaPSEW/kIEVHeISIiHSAxZ6ISAdY7ImIdIDFnohIB1jsiYh0gMWeiEgHOPWSQmIWmgBX4DcP8YdBkMMSl0iPWOwpNK4mXNz/17CEtg67NyxxAUAyCDDLl8IQ2ASHGvhtEonCjcWedEl1NePigV2ax+1y+2jAwGJP0Ydj9kREOhBysd+5cyceeughTJgwAdnZ2di+fTsAoKKiAhMnTsTYsWMxceJEHDt2LNSuiIgoSCEN46iqihdeeAEbNmzAoEGD8OWXX+KHP/whHnjgAeTn5yMnJwcTJkzA5s2bkZeXh/Xr12uVNxFFGWsXEzJuadUY14iMW+I160OSDGhuNOJwubZr/utByGP2oiiivr4eAFBfX49u3brhwoULKCsrw5tvvgkAyMrKQkFBAWpra2G1WkPtkoiikAIZxQc/9Wi7uZcFFae1W5/faJQwdtDdmsXTk5CKvSAIWLFiBZ566inEx8fDbrfj9ddfR1VVFbp37w6DoWXhUYPBgG7duqGqqiqgYp+S0jno3FJTE4Pe93q5EXJ01jXCmRCeLyQNBhHxfsT2Z5tgYwfKbDYi0eL7mLU+ltX2Zq8c7I1OGI3azpsQBMErpq82ACH1HUg/oZAkAxKuOW5msxGpVu0+PWghGs/tkN4Fl8uFtWvXoqioCCNGjMAXX3yBmTNnYsmSJZokV1PTAEUJ/G6ZqamJOHeuXpMcwuVGydEsO3HZHp559mZZ6TB2fIIpqP79iR0Mo8OJOh/HzNexdIjex86lqHA6XZrmpKreMX21GY1SSH37208ojEYJLpfsscyxw+GMqnMpkue2KAptXiSH9AXtoUOHUF1djREjRgAARowYgU6dOsFkMuHs2bOQ5ZYfxciyjOrqaqSlpYXSHRERBSmkYt+jRw+cOXMGR48eBQCUl5ejpqYGffv2RUZGBoqLiwEAxcXFyMjI4Hg9EVGEhDSMk5qaivnz52PGjBkQBAEAsHjxYlgsFsyfPx9z585FUVERkpKSUFhYqEnCREQUuJC/OcnOzkZ2drZXe//+/fH++++HGp6IiDTAX9ASEekAiz0RkQ6w2BMR6QCLPRGRDrDYExHpAIs9EZEOsNgTEekAiz0RkQ6w2BMR6QDvQUukobZuZO6sa4RZdnq0NQsyJNVz1UsRQJ9k36elUxVxpq5Zs1xJX1jsiTTU1o3MnT6WYnb1GwxHVYVHm6KqqK93+Iyd2GuAdomS7nAYh4hIB1jsiYh0gMWeiEgHWOyJiHSAxZ6ISAdCno3T1NSExYsX45///CdMJhOGDRuGgoICVFRUYO7cuairq4PFYkFhYSHS09M1SJmIiAIVcrFfunQpTCYTSkpKIAgCzp8/DwDIz89HTk4OJkyYgM2bNyMvLw/r168POWEiIgpcSMM4drsdmzZt8rgHbdeuXVFTU4OysjJkZWUBALKyslBWVoba2trQMyYiooCFdGV/8uRJWCwWrFq1Cp9//jkSEhIwY8YMmM1mdO/eHQaDAQBgMBjQrVs3VFVVwWq1apI4ERH5L6RiL8syTp48iSFDhmDOnDn497//jSeffBIrV67UJLmUlM5B75uamqhJDuF0I+TorGuEM8EUlr4NBhHxfsT2Z5tgY2sZt3W7XTLAGGfwaHM6FRhE3x+4RVGA0Rj4KSsI3vv5agMQVPxg+gmFJBmQcM2xNJuNSLXGa9pHqKLx3A7pXUhLS4MkSe7hmttuuw3Jyckwm804e/YsZFmGwWCALMuorq5GWlpaQPFrahqgKGrAeaWmJuLcufqA97uebpQczbLTaxkArZhlpcPY8T6WIdAqdjDaiusrT9klw9kse7QpqgpZUXzGVhQVTqcr4JxU1Xs/X21GoxRU/ED7CYXRKMHlkmG/5lg6HM6oOpcieW6LotDmRXJIY/ZWqxUjR47Enj17AAAVFRWoqalBeno6MjIyUFxcDAAoLi5GRkYGh3CIiCIk5M9XCxYswLx581BYWAhJkrBkyRIkJSVh/vz5mDt3LoqKipCUlITCwkIt8iUioiCEXOz79OmDt99+26u9f//+eP/990MNT3TdiTcNQLNk6HhDH+okAa5+g73a7ZIBsstzyAYJSUH1QRQMLnFM1EqzZMAnZZ8EtW+nHn3ReOa4V7sxzuA1Pp858ntB9aF31i4mZNxy9bFivIxGUdC8H5MYB9Fl1DxupLDYE1FMUSCj+OCn7sf9e1tgDEOxzxxwNzqBxZ6IKCoIggBnELP2OiIrKi47r86MMhlFBDe4Fx1Y7Clm+BpLrxdFyLLvqYrtqZOA5pu9x9YBQEhIgqJ6Fg9BEKD9tSNpQVZUVJyu0zxuRpcGHPqy2v14zKh0xBtjd+1IFnuKGT7H0gUB5y9eDjhWj34DceboVz6fe/j+HNS2ujWgNdHsXhKEKBbF7n9TRETkNxZ7IiIdYLEnItIBFnsiIh1gsSci0gEWeyIiHWCxJyLSARZ7IiIdYLEnItIB/oJWB8xCE+AK/K5MzrpGmGVnu9sYBLnd528YguC1hIJvqs/tnE7Fq10FfLYRhQOLvR64mnBx/18D3s3pxy3/rMPuDTarmKKqKi60WkLBl7hUxWupBQAwiKLX7QZdLu9tkxPNoSVK1AYO4xAR6YBmxX7VqlUYPHgwjhw5AgA4cOAAsrOzMXbsWEydOhU1NTVadUVERAHSpNgfPHgQBw4cQK9evQAAiqJg9uzZyMvLQ0lJCWw2G5YtW6ZFV0REFISQi31zczMWLlyI+fPnu9tKS0thMplgs9kAAJMmTcK2bdtC7YqIiIIUcrFfuXIlsrOz0bt3b3dbVVUVevbs6X5stVqhKArq6rS/wQAREXUspNk4+/fvR2lpKWbNmqVVPh5SUjkqK6IAAAxCSURBVDoHvW9qaqKGmYTH9crRWdcIZ4IpqH3jO9jPYBA73CZYrWPbJQOMcZ53qnI6FRjEwK9ZBEFoez8BPp5rZ3s/43q1B9iPKAowGgM/ZQXBez9fbQCCih9MP6FoHTMcfQCAJBmQcM3fn9lsRKo13q99o7H+hHSE9u7di/LycowePRoAcObMGUybNg2PPfYYKisr3dvV1tZCFEVYLJaA4tfUNEAJ4t6SqamJOHeuPuD9rqfrmaNZdnY4hdKXeD+mXpplJajY/mgdW3bJcDa3mtcvCF5TGv2hqmrb+6nw8Vw72/sR19fUy0D7URQVTqerwxx85dR6P19tRqMUVPxA+wmF0Sh5xdS6jytcLhn2a/7+HA6nX+dsJOuPKAptXiSHNIwzffp07N69Gzt27MCOHTvQo0cPrFu3Dk888QQcDgf27dsHANi4cSPGjRsXSldERBSCsPyoShRFLFmyBPn5+WhqakKvXr2wdOnScHRFRER+0LTY79ixw/3v4cOHY8uWLVqG95vcWA+zfCk8wSUTHGp4xqiJiMLlhlwuQWlqDGp5AH90uX00YGCxJ6LYckMWe6IbUSeTAX2SA9/PbBTQJ9nzVDcLzR5tTlVEjT3wL7opdrDYE8UIEQrqT38d8H7yoDu99pMSzai/ZhG2xF4DQs6PohsXQiMi0gFe2UeRYNed74hu1pwnojax2AdIMgiazPTxdWMQgyCjdv/fQo7dml7WnCeitrHYB0h1NePigV0hx/F1YxAWZSIKF47ZExHpAIs9EZEOsNgTEekAiz0RkQ6w2BMR6QBn41BYKADkIO5FcC1VVeG8JoaqAooaWkwivWKxp5CJNw1As+R5BylFBeovN4cU1yACl9L6uR+bTQmoveYn/gCQnNgppD6I9ILFnkLWLBnwSdknHm2KqnoV5kD1sA/EmaNfuR8/fH9OSPGI9Ixj9kREOsBiT0SkAyEN41y4cAEvvPACTpw4gbi4OPTt2xcLFy6E1WrFgQMHkJeX53FbwpSUFK3yJiKiAIR0ZS8IAp544gmUlJRgy5Yt6NOnD5YtWwZFUTB79mzk5eWhpKQENpsNy5Yt0ypnIiIKUEjF3mKxYOTIke7Hw4YNQ2VlJUpLS2EymWCz2QAAkyZNwrZt20LLlIiIgqbZmL2iKHjvvfeQmZmJqqoq9OzZ0/2c1WqFoiioq6vTqjsiIgqAZlMvCwoKEB8fj8mTJ+Mvf/mLJjFTUjoHtZ+zrhHxCeG5KbjBIGoWu3UcLWNrFbej/QwGEQbJAGOc5zx7p1OBQQztWkIQBM8YAnzGDKYfr9geT/qK2c72fsb1ag+wn3ZzbjepjvsRRQGACqMx+JIgCILX/r7aQtU6Zjj6AABJMiDhmr9/s9mIVGu8X/umpiZqnk+oNDlChYWFOH78ONasWQNRFJGWlobKykr387W1tRBFERaLJaC4NTUNUIL4FabFCK+14rVilhVNYsf7WM9eq9itBRvXV46+YssuGc5mz7thKaoKWQntBtZq6xgqfMYMph+v2B5P+orp3+tpK65BFL3bA+yn3ZzbTarjfq6cZ06nK/D41+TXen9fbaEwGiWvmFr3cYXLJcN+zd+/w+HEuXP1He6Xmpro13bhIIpCmxfJIQ/jLF++HKWlpVi9ejXi4uIAAEOHDoXD4cC+ffsAABs3bsS4ceNC7YqIiIIU0pX9V199hbVr1yI9PR2TJk0CAPTu3RurV6/GkiVLkJ+f7zH1koiIIiOkYj9w4EAcPnzY53PDhw/Hli1bQglPREQa4S9oiYh0gAuhERH5YO1iQsYtVx8rxstoFIUO96u2N8MhOv3uxyTGQXQZg0kxICz2REQ+KJBRfPBT9+MBfZKh+nE/BUkywOWSO9zuigcG3A3ReXXqsskowtDO9sFisSci8oOsqKg43fEPQ41GKaCpoBldGnDoy2r34zGj0hFv1H6EnWP2REQ6wGJPRKQDLPZERDrAMXsiQieTAT1FBYoSfEkwGwX0Sfbc3yw0o4clDmfqQrsfMYWOxZ6IIEJBw+nykNYzkgfdifrTX3u0SYlmGJN6h5oeaYDDOEREOsBiT0SkAyz2REQ6wGJPRKQDLPZERDrAYk9EpAOcenkDE28agGbJgDpJgKvfYACACsCPtZwAAE5RgNrBbSHrJEBNSILSKmjgN5MkonBisb+BNUsGfFL2CTr16IvGM8cBtNwbtrbe4df+Pu+b2kqPfgNxV987vGImJ5qDS5qIwiKswzgVFRWYOHEixo4di4kTJ+LYsWPh7I6IiNoQ1iv7/Px85OTkYMKECdi8eTPy8vKwfv36cHYZE8SbBsBujoN8zZrXKlqGRJpvHqxZP4J7eEV1D7NweIVIn8JW7GtqalBWVoY333wTAJCVlYWCggLU1tbCarX6FUP0464wbewIQ6eE4PbtgGCQQo4tmzvh8+OfweW8WuwVVUXcxTScO3EsxAyvGnPXBMiKGSZDJ1xSWoZVkjqboCj+DbGIogilg2GczqYESAYjuiRYPNvj/e+nvdjXxvXdjxmKYgo59rVCeT1txfV1LAPtp72c2+NPP51NCWhKsHT4fgfTj2zujOR4/9d3b7cPowSjQUJyfOerfZjiNYt/rWD7kYwSXAGsZ28ySugcf/VOVQaDEHTta28/QfXn1itBKC0txZw5c7B161Z324MPPoilS5fi1ltvDUeXRETUBk69JCLSgbAV+7S0NJw9exay3DJUIcsyqqurkZaWFq4uiYioDWEr9ikpKcjIyEBxcTEAoLi4GBkZGX6P1xMRkXbCNmYPAOXl5Zg7dy4uXbqEpKQkFBYWol+/fuHqjoiI2hDWYk9ERNGBX9ASEekAiz0RkQ6w2BMR6QCLPRGRDtxQxT7aF167cOECfvKTn2Ds2LEYP348nnnmGdTW1kY6rTatWrUKgwcPxpEjRyKdik9NTU3Iz8/HmDFjMH78eLz00kuRTsnLzp078dBDD2HChAnIzs7G9u3bI50SCgsLkZmZ6fXeRtP54yvHaDt/2jqOV0Td+aPeQB577DF106ZNqqqq6qZNm9THHnsswhl5unDhgvrZZ5+5H7/66qvqiy++GMGM2lZaWqpOmzZNvf/++9XDhw9HOh2fCgoK1JdffllVFEVVVVU9d+5chDPypCiKarPZ3Mfv0KFD6rBhw1RZliOa1969e9XKykqv9zaazh9fOUbb+dPWcVTV6Dx/bpgr+ysLr2VlZQFoWXitrKwsqq6cLRYLRo4c6X48bNgwVFZWRjAj35qbm7Fw4ULMnz8/0qm0yW63Y9OmTZgxYwYEoWXxp65du0Y4K2+iKKK+vh4AUF9fj27dukEUI3va2Ww2r1+yR9v54yvHaDt/fOUIRO/5c8PcvKSqqgrdu3eHwWAAABgMBnTr1g1VVVVR+atdRVHw3nvvITMzM9KpeFm5ciWys7PRu3fvSKfSppMnT8JisWDVqlX4/PPPkZCQgBkzZsBms0U6NTdBELBixQo89dRTiI+Ph91ux+uvvx7ptHzi+aOdaD1/bpgr+1hTUFCA+Ph4TJ48OdKpeNi/fz9KS0uRk5MT6VTaJcsyTp48iSFDhuCDDz7ArFmz8Oyzz6KhoSHSqbm5XC6sXbsWRUVF2LlzJ379619j5syZsNvtkU4t5vH8CdwNU+xjaeG1wsJCHD9+HCtWrIj4R/rW9u7di/LycowePRqZmZk4c+YMpk2bht27d0c6NQ9paWmQJMk97HDbbbchOTkZFRUVEc7sqkOHDqG6uhojRowAAIwYMQKdOnVCeXl5hDPzxvNHG9F8/kTXkQpBrCy8tnz5cpSWlmL16tWIi4uLdDpepk+fjt27d2PHjh3YsWMHevTogXXr1uGee+6JdGoerFYrRo4ciT179gBomUlSU1ODvn37Rjizq3r06IEzZ87g6NGjAFrWiqqpqcFNN90U4cy88fzRRjSfPzfU2jjRvvDaV199haysLKSnp8NsbrlLUO/evbF69eoIZ9a2zMxMrFmzBoMGDYp0Kl5OnjyJefPmoa6uDpIkYebMmbjvvvsinZaHjz76CG+88Yb7S+TnnnsODzzwQERzWrRoEbZv347z588jOTkZFosFW7dujarzx1eOK1asiKrzp63jeK1oOn9uqGJPRES+3TDDOERE1DYWeyIiHWCxJyLSARZ7IiIdYLEnItIBFnsiIh1gsSci0gEWeyIiHfj/VY9mgTbVQwQAAAAASUVORK5CYII=\n",
            "text/plain": [
              "<Figure size 432x288 with 1 Axes>"
            ]
          },
          "metadata": {}
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "sb.kdeplot(y['Confirmed'], shade='True', label='Confirmed', alpha=0.5)\n",
        "sb.kdeplot(y['Deaths'], shade='True', label='Deaths', alpha=0.5)\n",
        "sb.kdeplot(y['Recovered'], shade='True', label='Recovered', alpha=0.5)\n",
        "plt.legend()"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 302
        },
        "id": "kM1yq9JpWS5X",
        "outputId": "6255b941-e144-461b-9836-c4caa9e811f9"
      },
      "execution_count": 16,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "<matplotlib.legend.Legend at 0x7f66e985c910>"
            ]
          },
          "metadata": {},
          "execution_count": 16
        },
        {
          "output_type": "display_data",
          "data": {
            "image/png": "iVBORw0KGgoAAAANSUhEUgAAAaEAAAEMCAYAAABtKgnyAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADh0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uMy4yLjIsIGh0dHA6Ly9tYXRwbG90bGliLm9yZy+WH4yJAAAgAElEQVR4nOzdeXhU1f348fe9d/bJZJsshLAvYhSsolIVcakLWKFRW4ul9qe1pbVaqdoq2PoFtGIrVlu16NevVahV61JbkUWKuGFwQRAECUsICdkmeybJJJn13t8fAwMh2ySZmUzIeT2Pz0PuNp8ZZ+Yz59xzPkfSNE1DEARBEAaAPNABCIIgCEOXSEKCIAjCgBFJSBAEQRgwIgkJgiAIA0YkIUEQBGHAiCQkCIIgDBiRhARBEIQBoxvoAOJFQ0MLqtr5lCm7PYG6OleMI+odEWP/xXt8IGKMhHiPDwZPjJEgktARqqp1mYSO7o93Isb+i/f4QMQYCfEeHwyOGCNBdMcJgiAIA0YkIUEQBGHAiO44QRDilqZpNDTU4PW6gch0T1VXy6iqGpFrRUv8xChhMJhISUlHkqSoPIJIQoIgxC2XqxFJksjMHIEkRabjRqeT8fvj4Qu+a/ESo6apOJ21uFyN2GzJUXkM0R0nCELcamtzYbMlRywBCb0jSTI2WwptbdEbqSf+zwqCELdUNYCiiA6bgaQoOlQ1ELXriyQkCEJci9a9CCE80X79xU8MQRAiStM0Nn9VwbZ91YzNSuSq80ZhMkTuq+bXf91Cg8sTsesdlZJg5LFfTu/xOL/fz6pVf2PTpo0YjQZkWWbq1HP5xS/uQKfr/fNsbHSycOHduN1urrxyFq2trYwfP55LL72iL0+jT55//lna2tr45S/vjNljHiWSkCAIEfWPd/by3hcljMm0sfNgLTsKavifm85Fr4tMx0uDy8N3po/p8/myLHU6EfTtLcVhnf/www/g8bh54YV/YLFY8fv9rFv3Nl6vt09JaNu2rdhsNv73f18IbetsYIKqqkiSdNK1DEUSEgSh3wJqgHKXg4NlLjZ+Xst5OZkYDQrZ6VZ2FNTy6nsF/GjmpIEOs99KS0vYvPkD/v3v9VgsVgB0Oh25udcRCAT461//wueffwLAN795Ab/4xR0oisKyZUsxGAyUlpZQXV3F6adP4f77H2DHju2sWPEEra0t3HzzPO666x7Wrl3NaaedxrXXfp/nn3+WoqJDtLS4qKqqZOnSZdx11+3MmXMtn3/+CR6Ph8WLH2L16jfJz/8ag8HIH//4GHZ7GgAvvbSKjz56n0AgQFpaBgsX/g67PQ2Xy8Uf//gghw4VkppqJzMzk5QU+4C8puKekCAI/eLytvD7zx/jf3et4s3yf5Ay6SAGffCrRZIkJo9L5fO9VZRWx3cttHAcOLCfESNGkZiY2GHf22//h4KCA7zwwsu88MLLFBTs5+23/xPaf+hQIY8++gT/+Mfr7N+/j23bPmfq1HP46U9v5ZxzprFq1St84xtndbhufv7XLFmyjFdeeRObLZHGxkbOOONMVq58hdmzc7nzzl9w3XXX8/e/v8qkSTm8+ebrAPz3v+spLy/n2WdX8cILL3P++dP561//AsDKlc9hsVh55ZU3eeih5ezY8WWUXrGeiSQkCEKf+VQ/T+78P5KMiYwxnI7OOYomXSll6p7QMQadwthhNt7eUjSAkUbftm2f8+1vz0av16PX6/n2t+ewbdvnof0zZlyC0WhEr9czadIkysvLwrru+edPJzn52Bwds9nCBRdcCMApp5xKenoGEycGW5mnnnoq5eWlAOTlbWbbtq3ccsuN3HzzPP7979eprKwAYMeObcyenQtAcnIyF1/8rf6/AH0kuuMEQeizvPLP8Kt+JiaN5aOvKkhNsGLVjeWgbyt2eSQWKQmAUZk2PthRTlVDK5kplgGOuu9OOWUSZWUlNDU1ddoa6o7RaAj9W5YVAoHwhj2bze1fL4NBf9x1ZAwGY6fX1TSNm266JZRs4pVoCQmC0CfegJcNxe8xIWksLW4/rW4/VpMeg2zGRhqHAttDx+p1MiMzEvhoR/kARtx/I0eOYvr0i3j00YdpbW0BIBAIsGbNW5x11tm8885a/H4/fr+fd95Zy7nnfnPAYr3wwov4z3/+RVNTEwBer5eCggMATJ16LuvXrwGCo/M2b/5gwOIULSFBEPpkS8VWkgyJJBkT2Xu4AZtFz9GBW4lSOmVaPh6tFaMU/CWfnWblkz1VfO/SCciDeITX/fc/wAsv/B+33PIj9HodmqZx3nnT+dnPbsPhcPDjH88DYNq085kz59oBi3PWrKtpbHRyxx0/A4Kj66699nomTjyFm2/+KX/4wwPMm/ddUlPtnHlmx3tRsSJpmhaTRSuKiopYtGgRTqeT5ORkHnnkEcaMGdPumBUrVrB+/XpkWUav13PXXXcxY8YMANra2rjvvvvYs2cPiqKwcOFCLr300h73hauuztXl+h3p6TZqapp7/6RjSMTYf/EeH8RXjL//7E+MsmVjN9vZ+EUpmSlmTAYFvV6Hz+enTi0lRcpmou5YayBvt4OfXH0aOaNTwnqMysrDDBs2ut22gZ4nFAvxUjvuqM7+P6Sn2yJy7Zi1hJYsWcK8efPIzc1l9erVLF68mBdffLHdMWeccQa33HILZrOZffv2ceONN5KXl4fJZOL5558nISGBd999l+LiYn74wx+yceNGrFZrt/sEQYi8cpeDZq8LuymVphYvmqZh1CvtjkmQ7FRo+5mgTQvNbclKtZK3qyLsJNSZ/iaKePuCH+pick+orq6O/Px8Zs+eDcDs2bPJz8+nvr6+3XEzZszAbDYDMGnSJDRNw+l0AvDOO+8wd+5cAMaMGcPkyZPZvHlzj/sEQYi8Tyu+ICshE0mSqGpoxWLScWIPmwEzEhKNWmVoW5bdzFeFdUNm1VChZzFpCTkcDjIzM1GU4C8lRVHIyMjA4XCQmpra6TlvvfUWo0aNYtiwYQBUVFSQnZ0d2p+VlUVlZWWP+8LV03rpkWp6RpOIsf/iPT4Y+Bg1TWPHJ7s4N/tMLCYj1c42Eq1G9PpjXydH/20LpFAjHyLbMgYAq9WIxVRPfaufnLGdf/aPV10to4tQpYXjReOakRZPMcqyHLX3XVwOTNi6dStPPPEEL7zwQs8HR4i4JxR98R5jvMcH8RFjhasSfyCAzq+nsbENZ7OH1AQjPp8fIHRPCMCsJVHmP8AE9YJQl5zdZuD9rcWkJei7fIyjVFWNeNfZYOiOi7cYVVXt8L6LVFKKSarNysqiqqoqNH49EAhQXV1NVlZWh2N37NjBPffcw4oVKxg3blxo+/DhwykvPza80+FwhFpJ3e0TBCGydtfmk2a2I0kSNc42LCY9stz5aDe9ZEJBR5NWHdqWkWLhywO1sQpXiHMxSUJ2u52cnBzWrl0LwNq1a8nJyenQFbdr1y7uuusunnzySU4//fR2+2bNmsVrr70GQHFxMbt37w6NnOtunyAIkfVV7R7STMHPbk2jG5NB6fZ4MzZq1MOhv5MTDDS3+ahtbItqnMLgELNOx6VLl/LSSy8xc+ZMXnrpJR544AEA5s+fz+7duwF44IEHcLvdLF68mNzcXHJzc9m/fz8AP/nJT2hqauKKK67g5z//OQ8++CAJCQk97hMEIXJafW1UuCqxm4Kj22ob2zAbu+/VN0uJ1GjFob8lSSIj2UR+cUM0QxUGiZjdExo/fjxvvPFGh+3PPfdc6N9vvvlml+dbLBaefPLJXu8TBCFyChuLsJtSUGQFr1+lzePHpO++JWQigWoOtZu4mmIzsquwlou+MbzXMbhevgutJfIJTLKmkPDDP/d43Pe+NweDwYBeb8DtbmPs2HH88Ic3MWXKN/r82K+//gpXXDGLlJRgC/O55/6XlpbWAVnfJ9bicmCCIAjxaX/9QRINwRvSdU1uzMaOQ7NPJEkSZi2Jeq2MLOkUANKTzWzZXYmqab2unqC1NGCY2vd6aF2tJ+T9cnXY13jooUcYN24CAB999D733PMrHnvsr5x++uQ+xfT66//knHOmhZLQUCKSkCAIYdvXUMBo2wgg2BXX0/2go4yShTq1lCw5mITMRh0GvUxplYvRw+J/WHx3Lr74W+Tn7+Gf//wHS5Y8xP/939Ps3Lkdr9fHhAkT+PWv78NisbBx4wbeeOOf+P0+AG6//U7OOWcaf//789TW1nD//QsxGIwsWfIQADU11fzmNwuoqCgnO3sEv//9I5hMJj7++EOee+6ZI8VK/dx1171MnXrOQL4E/SKSkCAIYWnzt1HbVs8ZacFBQ3WNbhIthh7OCjJja3dfCMCeaCK/uH7QJyGA006bzJYtm3n55b9jtVp57rlgNZinn36Sf/xjJT//+e1885vnccUVM5EkiZKSYn71q9v4z3/Wc9NNP2HNmrfata4+/BD279/Lc8+9SEJCAnff/Us2bnyH73znWv72t2e5997fMXnyGQQCAdzuwT3AQyQhQRDCUugsJtWUjCLJqJqGq9VHRrI5rHP1mAjgp01rwiwFl0BIsRnZU1TPVeeN7uHswSDYvbdly2ZaWlr48MP3AfD5vEyYMBGA8vIyli79HTU1Neh0Ourr66irqw2tgnqiadPOw2YLJujTTpscWn/o7LPP4cknH+eSS77FeeddEEpcg5VIQoIghKXAeSh0P6ixxYtBr3Q5P+hEwftCidRrFWQfSUL2RBO7D1UQUFUUOX6qA/TF3r35jB07Hoejgl//ehFnn31uh2OWLv0dv/zlXVx00SWoqsrll1+I1+vt8prt1wmSQ/MsFyz4NYWFB9m+/Qv+538WMXfuD/nOdwauWnd/De7/84IgxEyhs4hkQzCBNDR5wr4fdNTR+0Khvw0KFpOOkqrBvez3xx9/yFtv/YsbbriRCy+8iNdeexmPxw1Aa2sLxcXBFWVdLhdZWcHRgOvWvd0uAVmtVlyu8F6HkpJixo+fwPe//wOuvPIq9u7Nj/Azii3REhIEoUcBNUCZy8H4pLEA1DW7MfQyCZlIoEY73G5bqs3IvsMNjM0Kf5VSyZrSq5FsvbluuO6/f2FoiPaYMWN59NEnOP30yUyadCrPP/8sP/3p/0OWZUDillvmM2bMWBYsuJvf/vY32Gw2vvnNC0hKSgpd73vfu4GHH34Qk8kUGpjQlWee+StlZSUoio6EhATuu29xX59yXIjZekLxTtSOi754jzHe44OBi7GsuYKnv3qB6cOnAbBxW3D9oBOXb4D2teOOp2kaJdpuLtDNxSQFJ5NX1LbQ6vbzmx90vqhaZ+vY9Fe81WXrTLzFGM31hER3nCAIPSpqKiHJGGyteP0qXl8Ag653LSFJkjBjw3nc0g6piUYOOZrE0g5DmEhCgiD06KDzEImGYOul0eXBZOh5kmpnDJKFBrUi9LfJoMOoVyirGdz3hYS+E0lIEIQeFTeWkHRkUILT5cWo79tXhwkrDZqj3bbURBMFZY39jlEYnEQSEgShW26/G6e3CduRllCDy42hh3pxXTFioY0m/NqxkWHJCQb2FNd3c5ZwMhNJSBCEbpW5HCQbEpGl4NeF0+Xt9fDsoyRJxoSVJq0mtC010cjBskbEGKmhSSQhQRC6VdJcRsKRVpCvj4MSjmfAQsNxgxMsR5aCqG4Y3OVnhL4R84QEQejWIWcxNr0VCFZK6OughKOMkgWnVgGcDQRHzdkTjRwodZKZaunx/N9teQinp6nvAXQh2ZjIsun393jc8Us5+P0+brjhRubMuSbi8cTa888/S1tbW8yXj4hZEioqKmLRokU4nU6Sk5N55JFHGDNmTLtj8vLyePzxxzlw4AA/+tGPWLhwYWjfvffeG1rgDmD//v2sWLGCyy67jKeeeopXXnmFjIwMAKZOncqSJUti8rwE4WRX0lxOTmqw/lmwXE//OlCMJFCrlaFpGtKRbJZkNZB/uIEZYawv5PQ08e0xl/f58btaymF98aawr3G02OihQwe55ZYbOf/86aSlpfc5pmjw+/3odPHfzohZhEuWLGHevHnk5uayevVqFi9ezIsvvtjumJEjR7Js2TI2bNjQoabS8uXLQ//et28fN910U7slvK+55pp2SUsQhP5z+900eptIONISamj29KsrDkAn6ZE1mVYasZIMQGqSia8O1vU73lgbN24CNlsiNTXVtLa28MQTj9PY6MTn8/H97/+Aq6/+DgBff72LFSueoLW1FYDbb/8V06adx969e/jLX/6E292GyWTmzjt/Q07O6Sxb9iBjx47n+9//AQCHDh1k4cJf8/rrb9Ha2sJTT/2ZwsICvF4vZ511DnfccReKovDLX/6MiRMnsWfPbhITE/nTn57kpZdW8dFH7xMIBEhLy2Dhwt9ht6fhcrn44x8f5NChQlJT7WRmZpKSYo/5axiTe0J1dXXk5+cze/ZsAGbPnk1+fj719e1HxIwePZqcnJwes/e//vUv5swJNokFQYieEwclNLZ4MPZxUMLxTCS0m7RqM+tp8/hpaPb0+9qxtGvXTpKSkpkw4RSWLr2fBQvu5m9/e5FnnvkbL720isOHi2lqauS3v72H225bwN///k9eeOElTj31NHw+H7/73b3Mn/8L/v73V/npT2/ld7+7F5/Px9VXz2HDhrWhx1m3bg3f/vZsJEniqaf+zJlnTuW5515k5cpXaGioZ926t0PHVlSU8fTTf+NPf3qS//53PeXl5Tz77CpeeOFlzj9/On/9618AWLnyOSwWK6+88iYPPbScHTu+jPnrBzFqCTkcDjIzM1GU4JtXURQyMjJwOBykpvZuJUGv18uaNWtYtWpVu+3r1q0jLy+P9PR07rjjDs46q/MyIIIghK+suYIEQ7AVpGoarW4/Wan9/+1qkMw41Uqy5VOB4H2h9GQT+0sbOO+0Yf2+frTdf/9CNE2jvLyM3//+j5SVlXL4cBFLlvw2dIzP56O4uIjy8jLGjBkbWv5bURQSExMpLDyIXq/nnHOCpZDOPfeb6PV6SkoOc+aZZ9Ha2kph4UFGjx7Dpk3/5dlnVwKQl7eZvXv38OqrLwPgdrvJyMgMPe4VV8wK/ZDPy9vMvn17ueWWGwEIBPwkJAQHmezYsY0777wHgOTkZC6++FvRfMm6FP8dhifYtGkTw4cPJycnJ7Tthhtu4NZbb0Wv17NlyxZuu+021q9fT0pK+AUJ7faEbvdHqk5SNIkY+y8S8WmaRmvBNlx7PsZXW4ZkMGOZMJXEs65AsYRfqDOaMYarstBBijUJi9WIs9mN0aBgNOp7PE+v7/6rxaomUh+owGo9tlxBeoqFoioXcy4+9vyqq2V0uo5JL9wlJLrS1fmdPVZn/vCHRxk/fgLvvfcuDz/8II8++meSk1N46aVXOxy7ZcvHSFLHayuK1GG7JAW3A3z728HW0NSpZzN27FhGjMg+cpTG8uWPk509osNjSZJEQoI1dE1Jgltu+UkXAyckFOXY6yvLwdel89dbjtr7LiZJKCsri6qqKgKBAIqiEAgEqK6uJisrq9fXevPNN/nud7/bblt6+rEbgtOnTycrK4uCggKmTZsW9nVFAdPoi/cYIxGf6qqnbdNf0VqcyKkjkZJHQcBL455PafjkLYzn/wDDpBk9XyiKMfZGQU0x45JG09riobK2BYNO7rQ46fG6KmB6PEUz0Ko10ehqRicFu9UTTDp27q9u9/xUVe20kGd/as11NTABCLtoaCAQjOviiy/j3Xc3smnTRoxGI2vXrmHWrKsBOHy4mLS0NHJyJlNUVMTOnTtDq6G2tLSQnT0Kr9fH1q1bmTr1HLZv/wKfz0929igArrzy2/z85zdTWlrCVVfNCcU2ffpFrFq1kt/8ZhGKouB0OmltbWH48Gw0TSMQ0ELHXnDBDN5441WmT7+ExMREvF4vhw8XM3HiKUydeg5r1qzm9NPPoLHRyYcffsCll17exeutdnjfRSopxSQJ2e12cnJyWLt2Lbm5uaxdu5acnJxed8VVVlayfft2Hn/88Xbbq6qqyMwMNkf37t1LeXk5Y8eOjVj8ghCOQH0ZbWsfQbaPQjllcmjkF4CcNAw1rQnv1jdQnQ6M065vtz8e+VU/tW31fOPIct5Ol6fPlRJOJEkyRi04aTVVCv7CT7IaaGrx0tTiJdE6eO733nrrL/nJT25k+fK/8NJLq/jnP/9BIKCSmprKgw/+keTkZJYtW85TT/0Zt7sNSZK5/fZfce6532TZsuXtBiY89NAj6PXBluawYcMYM2YcO3ZsZ+nSh0OP96tf/Zqnn36Sm2/+AZIkodcbWLDg1wwfnt0htlmzrqax0ckdd/wMCCaTa6+9nokTT+Hmm3/KH/7wAPPmfZfUVDtnnjkwtzBitpRDYWEhixYtoqmpicTERB555BHGjRvH/PnzWbBgAVOmTGHbtm3cfffduFwuNE3DZrOxbNmy0Ci4Z555hgMHDvDnP/+53bUXLlzInj17kGUZvV7PggULuPjii3sVn2gJRV+8x9if+NSmalrf+j1y1ikoKR27SY7S/B78hZ+jz7kU49TvxDTG3iptruB/d73ABVnBHoWPdzmwmBSspu6748JpCQHUq+XY5VGMU6aGtm3fX0PuhWM559TgdIvOlhAY6HlCsTCUlnIQ6wkdIZJQ9MV7jH2NT/O5afn3UuTEDJT0nlvgms+Nr2ALpot+jH7M2TGJsS8+dWzjo7ItTLHnoAHvfHaYUZkJ6JTu75uEm4RcWgN+vJytmx3adrC8kYwUM/9vZnDAglhPKD6I9YQEIY658/6BpDchp40J63hJb0I3+izcHz6P2lzT8wkDpKSpDKsuWMHA4w2gAYocua+MYA256nY14+yJJvYWN0TsMYT4J5KQIPSD//BOAqW7ULJP69U9HtmaipI+lrYPnovbwp2lzWWhytlNrcGipZG8jaWTDEhItHGsay0pwYDT5aGxxdvNmcLJRCQhQegjzefBvXklysgpSErPw5ZPJGeMQ3PV49v3URSi6x9N06hoqQotZNfU4sUQ5vDl3jCSQKNWFfpbliTSks3sLznWGorXJD1URPv1F0lIEPrI8+VqJEsysq1vNcMkSUYZMRnP1jfQ3PG1smiDx4ksSRiV4DyeSI6MO55BMtOgtl/kLiXByNeHgtVUdDoDLS1NIhENEE3TaGlpQqeL3mjFQTdZVRDigdpciy//ffSTLurXdWRLEnLSMDxfvIlpxk0Riq7/yl0Okg1Job8bW7zYE00RfxwT1nblewDsSSZ2HwrWkUtJSaehoQaXyxmxx5RlGVWNn5v+nYmnGHU6Aykp0SvOKpKQIPSBZ+sbyGmjkQzmfl9LGXYKvr0fYDhjJnJSfJSsKW0ux6IPPrdIlus5kSG00qoPnRTs0ky06GnzBKh1tpGWbCYtrfeT2rsT76M0YXDEGCmiO04QeilQX46/dDdKxviIXE/SGVAyxuP+7LWIXC8SSprKSdAH7we52nzodXK/S+V0RpZkjEdGyR0lSRIZySa+Fkt+DwkiCQlCL3m3/wclfWyfBiN0RU4fQ6DyAIHa4ohdsz/KXRXHDUrwRaRydleMJ6y0CpCaaGJnQW3UHlOIHyIJCUIvqE4H/vI9yGmRnUApyTqUjPF4tv4rotftC0/AS5O3Gas+OEeoqcWLvocJqv1hlKw0aOXttqUnmzlQ6iQQJ/dFhOgRSUgQesGzYw1K2piItoKOku2jCNQUEagpjvi1e6PCVUmi8dgaQs4WD8YojIw7KtgdV9NuBJzJECwPdKgi8uV5hPgikpAghEltdeIv2h7xVtBRkqygpI/Ds/2tqFw/XBUuR2glVYDmVm9Uu+N0kh4FHS20r5RgTxJdckOBSEKCECbv7o3IqSOQdMaeD+4jOW1U8N5QQ3nPB0dJSXMZVl1wZJwvoOL1qVHtjoPgSqsnzhfKSDGx/UD8ljUSIkMkIUEIg+b34tv7IUqY9eH6SpJ1KOlj8H65JqqP053S5nJshmBxyuZWX8TL9XTGKFmoP+G+UEqCEVerj2pnW3QfXBhQIgkJQhh8Bz9FtqYgmbpfgTcSZPto/CU7UV11UX+sE2maRmVr9bGacS3eqFRKOJEJG07N0e6+kCRJZKaa2VkgWkMnM5GEBKEHmqbh27UB2T4qJo8n6QzIqSPxfvVOTB7vePVuJ4qkYFSCZVoaWzzoo1Az7kQ6DKiotHHC6p1JZrbure7iLOFkIJKQIPRArTqI5mlF6mONuL5Q0sfiO5CH5m2N2WNCcH5QkjEx9HdjizeqI+OOkiQJMzacWkW77ekpJsprWnC6PFGPQRgYMUtCRUVFzJ07l5kzZzJ37lyKi4s7HJOXl8d1113H5MmTeeSRR9rte+qppzj//PPJzc0lNzeXBx54ILSvra2NO++8kyuuuIJZs2bxwQcfRPvpCEOId88mZPvImC7HLRnMyImZePd+GLPHBChzVWA5soaQBrhafRj1sfmaMEhm6tT294UUWWaY3cK2faI1dLKKWe24JUuWMG/ePHJzc1m9ejWLFy/mxRdfbHfMyJEjWbZsGRs2bMDr7bieyDXXXMPChQs7bH/++edJSEjg3Xffpbi4mB/+8Ids3LgRq9Xa4VhB6A3N7cJ/eCf60y6N+WPL6WPw7dqAYcqVSHJsPqqHm8qwHRme7Y7CQnbdMWOjWitG07R2CX9YiplPv67k8nNGxiQOIbZi8u6qq6sjPz+f2bODy/jOnj2b/Px86uvb14YaPXo0OTk56HS9+8C98847zJ07F4AxY8YwefJkNm/eHJnghSHNW/AJctKwqA7L7opsSQa9Gf+hbTF7zAqXIzQoobkl8gvZdUePCZVAu0XuIFg9wVHfSq0YJXdSisnPK4fDQWZmJooS7FtWFIWMjAwcDgepqalhX2fdunXk5eWRnp7OHXfcwVlnnQVARUUF2dnZoeOysrKorKzs6jKdstu7H/UUqfXUo0nE2H/Hx6dpGmUHPsI8fAJ6a+yTEIBvxAR8ezaQdt7lodZBtF5Dt99Dk89FenIKsiTTVt2CyahDr+/910RfzgGw+pJo0VeTbsxot31MViJfFtbxw1k5fbruieL9fQiDI8ZIGDRLOdxwww3ceuut6PV6tmzZwm233cb69etJSUmJyPXr6lyoaucLZ4DQ8l4AACAASURBVA2Gsuoixv47Mb5ATRH+lmbQJeFrGZgb45rRjr9pN1Vf70AZNjGqr2FR42ESDTbcrT4AahpaUCQJn8/fq+vo9bpen3OUQTNT7i4k3T+x3faMZBMbPi3m8qnZyP1smsX7+xAGT4yREJPuuKysLKqqqggEAgAEAgGqq6vJygp/nZD09HT0+mC9runTp5OVlUVBQQEAw4cPp7z82A1Nh8PBsGHxsS6LMHj59n6InJod0wEJJ5IkCdk+Gu+u6A/XLjuhXE9jS3TL9XTGTCINJ8wXAkiyGpAliX2HG7o4UxisYpKE7HY7OTk5rF27FoC1a9eSk5PTq664qqpj69Dv3buX8vJyxo4dC8CsWbN47bXgWizFxcXs3r2bGTNmRPAZCEON5vfiO7QVOXXEQIeCbB+Jvzw/6pNXS5rLSDhSOfvoQnbGGMwROp5OMiCj0Ez7mnGSJDEiI4GNX5TGNB4h+mLWHbd06VIWLVrE008/TWJiYmgI9vz581mwYAFTpkxh27Zt3H333bhcLjRNY926dSxbtowZM2bw+OOPs2fPHmRZRq/Xs3z5ctLTg/M2fvKTn7Bo0SKuuOIKZFnmwQcfJCEh+jPbhZOXv2QnkiUZyWAZ6FCQFD1y6gi8X78LY+dH7XFKmsoYkRDsnXC1+aO2kF1PzCRSq5aQqLSflzUi3cr7X5ZT29hGWlL/V7QV4oOkndjuHaLEPaHoi/cYj4+vdd2joDOi2ONjWLDmduE7+Clj7vwbdc6O0xf6S9VU7v7of7hkxHT0so7y2hYOlDnJSu19Eu7PPSGAVq2RVq2Rb+q/22FffnE944YnccNlEzs5Mzzx/j6EwRNjJIiKCYJwArWtiUDVQeTk8O9ZRptkSkC2ptC8+6OoXL+mrQ6TYkR/ZD5Soyu6C9l1x4QNFw34tI6DQUYPs/Hxrgpa3b4BiEyIBpGEBOEEvoOfISdnISnxNXhUto+i6fO3O9y0j4Sy5nISjcd+2TpbPDEflHCULMmYSaRO63j/x2rSk5Fs4b3tZQMQmRANIgkJwgn8+z+Oq1bQUZItHdXrIeDYF/FrlzSXh9YQAmhqjU3NuK6YpQSq1MJO940bbmPjF6W4vX3v8hPih0hCgnActbES1VWHZEsb6FA6kCQJ47CxUamufbipNLSGkM+v4vdHfyG77lhIpk4rQ9UCHfbZLAbsiSYxUu4kIZKQIBzHV/AZcspwJCk+Pxr6jNEEKg+gNkdujR1N0yh3OUg8koSajiznPYDTo9BJegyYOyx0d9SEEUls3Foq7g2dBOLzkyYIA0DTNHwFeXHZFXeUpOiCaw19vSli12z0NqFqKiYlWJooVss39MQsJVKpHux0X4JZT2aqmbWfFMc2KCHiRBIShCO8lUXg9yJZIlMKKlqUtNH49n+M5o9MKaHS5nKSjUmhyhBOV2wWsutJAinUaMWddskBTMhO4sOdFdQ1umMcmRBJA/9OE4Q44dqzGSkpa0DL9IRDMlqRrSn4Cj6NyPVKmsqwHl+uxxUfLSGdZMCAudNRcgBmo47Rw2y8/kHnrSVhcBBJSBAATVNx7clDThk+0KGERbaPwrtrQ0SGaxc3lZB4ZPkGTYOWNl9cJCEAi5REubq/y/3jsxLZU1xPkaOpy2OE+CaSkCAAgapCkCQk0+Aony/Z0sHnjshw7bLjBiW43D50OhllAMr1dMZKCvVaaacTVwF0OplTRiTz8rsHojJ/Sog+kYQEAfAf/BR96vC474o7KlhdO9ga6g+XtwW3343lyByhpgGonN0dRdJhJolKtaDLY0ZmWGlo9rCzoLbLY4T4JZKQMORpqor/0Bfo0wa+YnZvyKkjCTj296u69uHmMlJMye0GJRjiYFDC8RKkVErVPV3ulySJU0Ym8er7BQRUNYaRCZEQX+82QRgAgcoDoOhRLIkDHUqvBIdrj+jXcO3DTSXt1hBqcHni5n7QUWZseGmjUa3u8piMZDOyJPHxV44YRiZEQthJaNOmTfj9okyGcPLxH/wMOWlwLoKo2Efj2/cRmr9vlbUPNRaH7gdpxF93HARbOjYpjRJ1V7fHTByZxOq8Inz+zod0C/Ep7CT05JNPcuGFF/Lggw/y1VdfRTMmQYgZTVXxFX0R1xNUuyOZEpAsyfgLP+/1uZqmUdJcTrIx2AJ0ewNoGujk+OsgsWGnRjuMR2vt8phUmwmrWc8HOzqvsiDEp7DfbW+//TarVq3CaDRyxx13MHPmTJ5++mnKysKrZltUVMTcuXOZOXMmc+fOpbi4uMMxeXl5XHfddUyePDm06N1RK1as4Oqrr2bOnDlcd911fPzxx6F9ixYt4qKLLiI3N5fc3FyeeeaZcJ+WMMQFKvcj6U1IpsG7CKLSx+HaTk8jAVXFpJgAaHR5MA1wuZ6uKJKOBFIoDXzd7XETsxNZ9+lhfH5xb2iw6FWt+lNPPZVTTz2Ve++9l08//ZQ//vGPPPXUU0ydOpW5c+cye/Zs5C5+RS1ZsoR58+aRm5vL6tWrWbx4MS+++GK7Y0aOHMmyZcvYsGEDXm/77oUzzjiDW265BbPZzL59+7jxxhvJy8vDZAp+gH72s59x44039ubpCAL+g58jJ2YOdBj9IiVmoFXko1YXomROCPu8kuYyUkzHKiU0tngxxNn9oOPZpHRKtT2M0c5CJ+k7PSYpwYjNYmDLbgeXnJUd4wiFvuh1u7ukpIQVK1awdOlSPB4PCxYs4Prrr+fll19mwYIFnZ5TV1dHfn4+s2fPBmD27Nnk5+dTX1/f7rjRo0eTk5ODTtcxN86YMQOzOTiMdNKkSWiahtPp7G34ghAS7IrbNmi74o4KDdfevbFX5xU1njAoodmDUR9/XXFHGSQTJhIo62akHMDYLBtrPikWI+UGibBbQi+//DKrV6/m8OHDXHXVVSxfvpwzzzwztH/mzJlccMEFnZ7rcDjIzMxEUYK/shRFISMjA4fDQWpqaq+Dfuuttxg1ahTDhh27mbxy5Upee+01Ro4cya9//WvGjx/f6+sKQ0ug8gCS3jiou+KOklNH4st/H7W1EdmSFNY5B52HSDPbQ383tnjIslu7OWPgJUkZFKs7GSlPRpE6//qyJ5rQKzI7C2o5e1JGjCMUeivsJLR582Z+/OMfc9lll2EwGDrsN5vNPPXUUxENrjNbt27liSee4IUXXghtu+uuu0hPT0eWZd566y1++tOfsmnTplDSC4fd3v0XUaTWU48mEWPv1HyxHWPacExWY2ib5bh/x6vOYzTSlj4SQ8mnpMy4vsdrBNQA5S0Opgw/FYOix+P14/drWM16oP83hfT66KxKqyeRZp+Vat1+JpimdnncxFHJvLu9jFkXdv5jNJ7eh10ZDDFGQtjvlGnTpnHVVVd12L5y5Up+/OMfA3DhhRd2em5WVhZVVVUEAgEURSEQCFBdXU1WVu+6QXbs2ME999zD008/zbhx40LbMzOP9elfc801/OEPf6CyspLs7PD7hOvqXKhq5zd209Nt1NQ09yrWWBMx9o6mqbTs/QzduHNpbQmWhLFYjaF/x6vuYlSTsnF+sR7fKVcgyd3/ACttLseiM+N3q/jxUN3Qhsmo4PP1f3izXq/D54vedA6blsF+9xdk+E9B6eLeUEqCga8Katm2u4LRw9p/mcfT+7ArgyXGSAi7A3jFihWdbg9nJJrdbicnJ4e1a9cCsHbtWnJycnrVFbdr1y7uuusunnzySU4//fR2+6qqqkL//vjjj5FluV1iEoQTBaoOgqIfNLXiwiFbkkFnxH94Z4/HFjUeJslwbHKu0+WJ60EJxzNKFoxYKVF3d3mMLEmMzEjgve3hjd4VBk6PLaFPPw2Wiw8EAnz22WfthoGWlZVhtYbXh7x06VIWLVrE008/TWJiYmgI9vz581mwYAFTpkxh27Zt3H333bhcLjRNY926dSxbtowZM2bwwAMP4Ha7Wbx4ceiay5cvZ9KkSSxcuJC6ujokSSIhIYFnnnmm08ENgnBUcILqyfdDJbjg3Ub0Y8/u9rgC56HQJFWA+jgflHCiZGkYxepORsino5c670IdmWFl81cOfnD5RMxG8X0QrySth8kF3/rWt4Dg4ILju88kSSI9PZ358+dz2WWXRTfKGBDdcdEXLzFqmkrLS3eiG3MOkvnYF/Fg744D0NQAvvz3sF67pNsqEL/bsowp9hxsR5Zw2LC1hOFp1ojUjYt2d9xRtWopKVIWp+jO7/KYLw/U8K2pI9oN146X92F3BkuMkdDjz4P3338fgHvvvZfly5dH5EEFYSCp1YdAVtoloJOFJCvB1tCe9zBd8MNOj2lwO3H73aHh2R5fgEBAQ68MnpYQQLKUSZmWz2jtDIxS5z0y2elWPthRLuYMxbGw33UiAQknC1/h50iDfIJqdxT7KHwHtnRZT67QWYTdnBqapNrQ7MFkjM9KCd3RSQZs2CkMfNHlMenJZuoa3TjqWmIYmdAb3baErrrqKt555x0ALr744i7XWvnwww8jHpggRIOmafgPbUUZ3fXw3sFOMlqD9eQOfYH+lOkd9u9vKDzhfpA77ipnhyvpSGtojDYVi9SxCrosSQxPs/LJ15V892IxdzAedZuEfv/734f+/eijj0Y9GEGINrWmCOCkGhXXGSV1RHCAQidJ6ICzkEnJx76Q65o8mOOscna4FElHIukUBrYyRXd5p8dkp1nYstvBtReNQx5szb0hoNskdM4554T+PW3atKgHIwjR5ivcipQ4bNCsoNpXUlImavkeAvVlKKnHFutr9rpo8jSFBiRoQJPLS0rW4E3KSWRQpuXj0hpIkFI67E+0BifXH6poYkJ2eNUkhNgJ+57QypUr2bt3LwA7d+7kkksu4Vvf+hY7duyIWnCCEElHu+IGe624cEiSjJw6Al/+++22H2goJM1sR5aCH31Xqw9FkdDJgzcpy5JCopTOoS7uDUmSxLBUC5/nV8Y4MiEcYSehVatWMWJE8BfVY489xs0338wvfvELHn744agFJwiRpNYdBtWPZB5cK6j2lZI6Cl/Bp2j+Y0O699TtI8l4rDVQ3+zGNEi74o6XSDp1WhktWudFjbPsFrburUbt5XIXQvSFnYSam5ux2Wy4XC7279/Pj370I66//nqKioqiGZ8gRIyvcCtS0snfFXeUZLQgJ6TiP7QNCLYE99UXkGY61mVV1+SOu5VU++Joa6irkXI2iwGdInOwrDHGkQk9CTsJZWVl8eWXX7J+/XrOOeccFEXB5XL1qkioIAwUTdPwF34+aJfx7is5eTjePe8BUNNWh0/1tVu+oa7RjdlwclQTsJFGrVZCm9b5JM+MFDPb9lXHOCqhJ2G/++69914WLFiAwWDgySefBOCDDz5gypQpUQtOECJFrSsBvxfJkjzQocSUlDwsOEDBWcE+12HSzPZQS9DrV/H4AoN2ePaJFEmHTbNTHNhJjm5Gh/3DUi1sP1DT6xVohegKOwldfPHF5OXltds2a9YsZs2aFfGgBCHSfIWfIyVnDZmuuKNCAxT2fsROUzOppmNJuL7JjdmoG3STVLuTKKVTru1jvHYuBsnUfp9Fjz+gUuxoImEQ1ck72fWqHd7c3ExRUREtLe1nH59/fte1mwRhoB3tilOyT+/54JOQkjqCloItFI1K4uIRx+YN1TadHIMSjqeTDFi0ZMrVfMYq7SckS5JEZoqFLbsqmHn2iC6uIMRa2Eno3//+Nw8++CAWiwWT6dgvDEmSeO+996ISnCBEglpfOiS74o6STDYOJlhIUczo5WMf+VpnGzZLxwUqB7tEKY0SdTej5W8gS+2TbEaKmU93O0QSiiNhJ6E///nPPPHEE1x88cXRjEcQIs538LMh2RV3vK9tZpLd7tDf/oCKq81HRrJ5AKOKDqNkQacZqNaKGCZNaLcvNdHIlwU1NDR7SLHF/yq6Q0HYHaOBQKDLlVMFIV5pmhZcO2gITFDtSkBT2at4sbc0h+YM1Td5MBl1yIN4kmp3EiQ7hwO7OmyXJYnstAR2FdYOQFRCZ8JOQvPnz+eZZ55BVdVoxiMIEXVsgurQLddywN+IRdJhMVgJ1JUCUNPYdtLdDzqelWRaacSl1XfYl5FqYdv+mgGISuhMryomPPPMM0ydOpVLLrmk3X/hKCoqYu7cucycOZO5c+dSXFzc4Zi8vDyuu+46Jk+eHFp59ahAIMADDzzA5ZdfzhVXXMEbb7wR1j5haPMVfDakJqh2ZpuvhnTZhGSyodYeBqDa2YblJF5tVJIkbNgpCXzdYV9WmpWCUideX2AAIhNOFPa7sL9VtJcsWcK8efPIzc1l9erVLF68mBdffLHdMSNHjmTZsmVs2LABr7f9Wihr1qyhpKSEjRs34nQ6ueaaazj//PMZMWJEt/uEoSs4Ku5TlFFnDXQoA8arBcj3N3CePhNJkVGbqvE2O2lp85GZcvLdDzqeTbJTru1jknYBinTsq86oV0i2GTlQ5mTyWPsARihAL1pC06ZN6/K/ntTV1ZGfn8/s2bMBmD17Nvn5+dTXt28qjx49mpycHHS6jrlx/fr1XH/99ciyTGpqKpdffjkbNmzocZ8wdKnVhYA8ZGrFdWaXr55k2YhRUgAJyWSjrfIQFpPupF/WQCcZMJFAtXaowz67zchXB+sGICrhRGG3hLxeLytWrGDt2rU4nU62b99OXl4excXF3Hjjjd2e63A4yMzMDJX4URSFjIwMHA4HqampYT2+w+Fg+PDhob+zsrKorKzscV+47PaEbvdHaj31aBIxtlezfRvG9GxMCaaeDz7CYo3/EVO9iTGvrZIRhgT0uuBnT7Ml4688TII5G70+et1x0bx2byQF0ijX9jLB2r6yy6jhSew8UBPXn5l4ji2Swn6nPPzww1RVVfGnP/2J+fPnAzBx4kT+8Ic/9JiEBoO6Oheq2nk5j/R0GzU1ndejihcixvY0VcX1dR768d+ktcXT8wkEv9zDPXag9CbGikALtT43p5CETz16/0OHV5VJlZrw+aIzR0iv1+Hz+aNy7d4yaglUa4epcVVjkYKDU6xWIwYZmlq87C2oJi0Oh6kPls9zJITdHbdp0yYee+wxzjrrLGQ5eFpmZiZVVVU9npuVlUVVVRWBQPCDEAgEqK6uJisr/GGzWVlZVFRUhP52OBwMGzasx33C0BSo2IukNyGZum/hnsw+9FYwXLG063bz+gO0akZSfEOjkKckyVhJoSKw/4TtEpkpZnYXdRw9J8RW2ElIr9eHkshR9fX1JCf3PAvdbreTk5PD2rVrAVi7di05OTlhd8VBsE7dG2+8gaqq1NfXs2nTJmbOnNnjPmFo8hVsQU4euj9E6lU3u30NjJTbJ2FXmw+PYsHirUfShsbosAQplQptf4fCpak2I18dFPOFBlrYSWjWrFksXLiQ0tLgPIPq6moefPBBrr766rDOX7p0KS+99BIzZ87kpZde4oEHHgCC8492794NwLZt27joootYuXIlr776KhdddBEff/wxALm5uYwYMYIrr7yS73//+9x+++2MHDmyx33C0KP5vfiLv0ROHt7zwSepdz3lZCsW9FL7j3hzqw+dTo9fMWHxDo0b8waC3W1OzdFue1qymf0lTvwBMfdxIElamHXNvV4vjz32GK+//jptbW2YzWa+973vcc8992AwDP76U+KeUPTFKkbfoa14tv0H/bieR24e72S5J1QZaOXJlq85T5+B4bjaaQFV5VBFEyk2I4ZAC7IWoDLpjIjHGE/3hI5yapWYSOB03aVYrUZajryGW3ZX8rPvnMbEEfFVV3CwfJ4jIeyBCSUlJYwdO5af//znBAIBLr/8ciZNmhSRIAQhknz7Ng+5xeuO0jSN19sKGauztUtAEOyK0+tlkMCnmElqq0BWfaiyfoCijZ0Egl1yOdpF7banJhnZXVgXd0loKOmxO07TNO677z7mzJnDs88+ywcffMAbb7zBtddey3333ScWiBLiiupuJlB5YMjWitvsddCo+RghWTvsa2r1oVeCH3lNkvEpZqzeoXFPRCcZMGCmVitptz0t0cRXhUOjWzJe9ZiEXnvtNbZu3cprr73GBx98wGuvvcaHH37Iq6++yrZt23j11VdjEacghMVX8ClychaScvL/uj9Rkb+Z/3rKOF2X0qFMUUBVcXv8GI5bRdWrmElw924+3WBmkZKoUNuPkktNNFJZ30qr2zdAUQk9JqHVq1dz//33c8YZ7fuOzzjjDH7729+yevXqqAUnCL3l3/fRkByQcNjfzN9a95KjS8Yidexlb271YdDL7VZR9StmDP4WFNXb4fiTkZUU6rUyfNqx56vIMmlJJvYedg5gZENbj0mosLCQc889t9N95557LoWFhREPShD6IlBfhtraiGRLH+hQYkbTND7xVPJs615O1SWTLnc+8bKxxYNB1/4ekSZJ+HQWrJ6hUVFakXSYsFHpa1/GJ9Vm4utDoktuoPQ4MCEQCJCQ0PmEv4SEBLG0gxA3fHs/QE7JHhIVsxtVL3v9DXzodeDTVKbq00iQOu+C9PoCeP0qVlPH/T7FTIKnkiZzdrRDjgsWKYlS715SpbGhbWnJJr4+JCatDpQek5Df7+ezzz7rcgDCiRNYBWEgaAEfvoJP0U+8YKBDiQifplIacOFQW6kNuGnSvLg0P62tfur9blQ00mQT2bKFNMnUbeJtcHkw6RXo5BCfbMLirUdRPQTk+K+b119Wkin1f41P50EvBZ9vokVPq8dHbWMbaUnxV8LnZNdjErLb7fz2t7/tcn9vqh4IQrT4i3cgmRORjB1HhQ0mRf5mPvRWsN/vJEHSkyDpMUoyBhSsko50vZnxUiJG5LBafKqm0dTqJcnaxVw+SQqOkvPU0GQ++Zc+kSUFq5RMjVbMcCk4xUSSJNKTzewtbmDGN0QSirUek9D7778fizgEoV+8ezYhpwzeLqU61c3rbYU41FZGKAlcoM/sMM8HQK8o+HrR+9DU4kWvyN0u4+1TzCS4q4ZEEgKwykk4AgcYLh+b55hiM7LrUB0zvjH0BrUMtLDL9ghCvFKdlaj1pYN2btCX3hoec+1CQuI8XSaj5IROE1BvaWjUNbl7XMbbJ5vQq24UNb6rRURKgpyCU6vCpx17vulJZvYdbkAV8x5jTiQhYdDz5r+PnDoSSe7/F3csaZrGO+4S3vIUc6bOzhjFFtGF5ppavMiyhE7Xw8f8uC65oUCWFCwkUa0VhbZZTDp0ikx5TcsARjY0iSQkDGqaz4PvwMco9lEDHUqvaJrGW+5ivvDVcLYunUQ5svUXVU2jttGNuYdW0FHBUXJDY3kHAIuUiEMtaLfNnmRiT5EYqh1rIgkJg5qv4BNkq33QDUj4r6eU3f56ztKlHVl6O7Lqm9wo4bSCjvDJJvT+1iEzcdVCEo0ndMml2ozsEkO1Y04kIWHQ0jQN764NyIOsFfSFt5pPfFV8Q2fvsNRCJHh8ARpcHiymXiyxLUn4FAsWz9CoJRfskkukRisObUtLMnGoolEs7RBjIgkJg1agbDcEvEi2tIEOJWyH/c38x13MGTp7VFpAqqZRXtuCxajrdkRcZ3yKaUh1yZlP6JIz6BUSLQYOVTQNYFRDTy9+KvVPUVERixYtwul0kpyczCOPPMKYMWPaHRMIBHjooYf4+OOPkSSJn/3sZ1x//fUA3Hvvvezff6z44P79+1mxYgWXXXYZTz31FK+88goZGRkATJ06lSVLlsTqqQkDxLNjDXLa2EFTIaFF9bGybT+n6pK7rG7QH9qRBKTIEsYw7wUdz6+YsXrrh8zyDlaSKdG+xq950UnBe3IpiUa+LqrjlJFiaYdYiVkSWrJkCfPmzSM3N5fVq1ezePFiXnzxxXbHrFmzhpKSEjZu3IjT6eSaa67h/PPPZ8SIESxfvjx03L59+7jpppuYMWNGaNs111zDwoULY/V0hAEWqClCbXCgP+3UgQ4lLJqm8XLbQeyyiYxO6rv5/AHc3gB+VUMCFEXCqFc61HvrSkDVqKhrIRBQSTD3LYFoR0bJWbx1uEwn/3pMsqRg1mzUaIfJkiYCwaUddhXWcd1F4wc4uqEjJt1xdXV15OfnM3v2bABmz55Nfn4+9fXtbwKuX7+e66+/HlmWSU1N5fLLL2fDhg0drvevf/2LOXPmnBQrugp94/ni3ygZ45CicE8lGrZ4q6hSWxkvJ7bb3tTqpaiyicNVzdQ1uWlu9dLU4qWu0U1JtYuCcidltS6cLg9eXwBOmMaiahrOFg9FlU1omhZMQP1oGA61LjmLlETlcV1yqTYjjrpWWt3xtTLsySwmLSGHw0FmZiaKEvxVpygKGRkZOByOdmV/HA4Hw4cfm7GclZVFZWX79U68Xi9r1qxh1apV7bavW7eOvLw80tPTueOOOzjrrLOi94SEARWoPUyg5hD6nEsHOpSw1Kpu1ntKmKpPC80D8gdUKupa8AdUzAYd+i6Sh6pq+PwqjS1eapvcaKqGTicjSxKqFtyn18kkmHRhj4TrztEVVyU1gDbI5l31hYUkyrQ9+DUfOkmPogSXdthf2sBZE4dONfaBFLPuuEjZtGkTw4cPJycnJ7Tthhtu4NZbb0Wv17NlyxZuu+021q9fT0pKStjXtds7rxR+VKTWU4+moRKj491/Yx5xCkabJQIRtWexRraIp6pp/LNuD+MMiaQYTAC4PX4OVzVjNCikWEzdnq/IoD+uS07TNPyqhqZpSJKETm6/RlD/yfh1ZmyakzZ9Zp+votfH91fL0fj06LD4EnEZHGQbgl1ymalWCh3NXHnBuIEMcVB8niMhJu+UrKwsqqqqCAQCKIpCIBCgurqarKysDsdVVFSEFtA7sWUE8Oabb/Ld73633bb09GO/WKZPn05WVhYFBQVMmzYt7Bjr6lyoauclO9LTbdTUNId9rYEwVGL0V+zD7TiE7tSLCbREtsyMxWqkNcLXzPNU0uj3MEGXhs8bwOMLUFrdjMWkx6CXCfRyKRRFlpEljaOZLu9TUAAAIABJREFUR9XUDl10/eWTDJhaqmhS7H06X6/X4fPFb3fWifEZtQSK2/JJ9gWH+idadHyxp5LvXTRwSWiwfJ4jISYd6na7nZycHNauXQvA2rVrycnJ6VCBe9asWbzxxhuoqkp9fT2bNm1i5syZof2VlZVs376dOXPmtDuvqqoq9O+9e/dSXl7O2LFjEU4umqbi+eRl5GETB0WJnkbVy3pPCZOUZCRJwh9QKa1xhRJQvPLpLJh9DTBE6qhZSaZeKyOgBRNTktVAc5uP+ib3AEc2NMSszbx06VIWLVrE008/TWJiIo888ggA8+fPZ8GCBUyZMoXc3Fy++uorrrzySgBuv/12Ro4cGbrGf/7zHy699FKSkpLaXfvxxx9nz549yLKMXq9n+fLl7VpHwsnBt28zmt+DkjI4qj2/6T5EtmLBJuvRNI2yGhcmvRLXCQhAlRQCkh6zr4E2w8m/VIsi6TFqVuq0UjKk4JD/jBQze4rrmXGGqKodbZLW1Wp1Q4zojou+/sSotjXR8vp96Maei2xJ6vmEPohkd9x+v5OX2wr4pi4TRZKodgZHXPV39Joi974Lry9Mvib8sola2ym9PnewdccBNGrV6DBwhu4KAA5XNqPTydx+7ZSBCHHQfJ4jIb5/kgnCEe7NK5FTsqOWgCLJr6m83naIiUoSiiTR6vHR1OINLq89OObV4lUsWLy1Eb/fFK+spFCrlaBqwbWa0pPN7BVLO8SESEJC3PPuz0OtKUIZ1vtf5QPhA08FBkkmXTajahqOulasJj2DZEoTAKqsQ5MUjP6hUcJGJ+kxYqFOKwOCSzvoFZnSKtcAR3byG0QfC2EoCtSX4vn0ZZTRZw2KwQhO1cMH3gomKsEWW22jG50io4/z+0Cd8SkmrN6hUdAUgrXkjp+4mpZk4muxtEPUDb5PhjBkqC0NtK1/DGX4acjmxJ5PiANvuw+TrViwSDq8vgCNLR7MxvieM9OV0EJ3Q6RHykoyNdrhUJecPcnEzoNDJwkPFJGEhLiktjppXfNH5JRslNTBMRqu2N/MAb+T0XLwhm1VQytmgw55kH7KApIBSQugV4fGaqM6yYABM/VaORBsCZVUuXB743eQxclgkH48hJNZoL70/7d379FVlXfCx7/7dm653y8ERBAhIt6tUu/IbSw0dGa5aK12dRhxKIx0XMsWuuxCodYWpq918AV87SgdLdNpKQqEmxhvoLaiFQEJIGJCIDkkkHty7ns/7x8HjkYSEiDnkpzns5ZLTvbeJ79z8uzzO8+zn/178Kz/BWpaLlrBZfEOp0+EEKzzVTFCT0dXVDp9QQIhC8cFVLNOGMqZ3lDy9AbCQ3KfA6BrKjnpDg7WtMQ5qsFNJiEpYQjLxL9nG56NT6HmXjJgEhDA7lAjHhGkSAmXEmpo8YaH4QbIbLieRIbkkkQqWZwU1ZEhuew0O3vlkFxUDczBamlQsbxtBD//gODeraDbMC77Jorj3LX8EklAmGz0VXP56coIbZ4AQghs/VBQNN5CqoMUqxHN8mOq/VtXLxHpig1D2GkSdeQqQ8nLdLD3Czk5IZpkEpKiRggL4WlFeFoQvg46TikEG5sRfg+WtxXRWo/ZdAzhaUHNKEIbcgVq6oXVK4und/xuUhSDbNWOQHCyxRteWnuA94KALkNybc4h8Y4mJpynl3fIVYeSnmLDHzCpb/ZQkNX/BXMlmYSkfiQsE9N9iNDRTzDdB7Fa3KAZKDYX6DZMm42QpYCmoWgGGE604lIUZ/qAWRfo69qtIG8F6rjBCJeJau0MoKoKxiDoBZ0RVB2k+BuSJgmlkkWdOIQlTFRFIy/Tyb4jjRTcIJNQNMgkJF00y9NCYN92ggd3oNgcqGl5qNlD0UquDCeb06JRpTretvprKNScuBQdgaCx1UeKY3CdVsm27Hd4SM5Bk6glVxlGboaD3YdPMfGGob0fLJ23wXW2SDEl/J34P95A8OAO1KwhGCO+geJMjjVQABpML7uDjYw38oEve0H9sbhcIkm2Zb8hvOKq2zpMrjosfF3o77X4gyZ2YwDPdkxQMglJ500IQfDw+/j/+kfU9HyMMXegGOdenG0w2uiv5hItFZuiDdpe0Blnlv1OliSUQia14iCWMDF0jax0OwePNnP1ZbnxDm3QGVxf2aSos7xteLc+TeDDdejDr0MfOi4pE1BVqI2jZgdD1fAsvrZB2gs6I6g5cQTbUCwz3qHEhK7YsOPilKgBIDfdyceHk2eqeiwNzjNGiopQ3QE8ax9DhALoo25BTen78umDiRCC9b5qLtXS0BQl3Atq8w3sG1N7IRSVoObAFWyKdygxEx6S+wyA/CwHew6fQq580/9kEpJ6JYTA/8lmvNufRSu5Er14DMpArUXTD/aHmmn7yo2p7Z4gMLhmxHUnpIVnySWLFDJpFMcwRfD0OlAKxxpkVe3+FrOzpqqqipkzZzJlyhRmzpxJdXX1WfuYpsnixYuZOHEikyZNYu3atZFtzz77LOPHj6esrIyysjIWL14c2eb1evn3f/93Jk2axNSpU3nrrbdi8ZKSgggF8L2ximDlmxiX34qanh/vkOLKFIINvmpGaGkoSvhGoMZWH85B3As6I6A5cQaaUUT0F9VLBJpi4CCNBlEdXm01MzxLTupfMbuK+vjjj3PfffdRVlbGhg0bWLRoES+99FKXfcrLy6mpqWH79u20tLQwY8YMxo8fT0lJuIDljBkzWLBgwVnP/cILL5Camsrrr79OdXU13//+99m+fTspKSkxeW2DleVrx7v1aTBD6JeNHxBLKUTbh4EGFBRylfB1sA5vEIEY9L0gAKFomJodZ6AJjz05LtC7lAzqrEMUqaPIz3Ly0cEGym69NN5hDSoxOXMaGxuprKxk2rRpAEybNo3KykqamrqOL2/ZsoV7770XVVXJzs5m4sSJbNu2rdfn37p1KzNnzgRg+PDhXHnllezYsaP/X0gSsdpO4nl1MWi2AbOWT7QFhMmWwLEuvaBTrV4ctkFSHaEPgmp4llyySCGTVnGCgPCRne6gsc1HU5sv3mENKjHpCbndbgoKCtC08AeZpmnk5+fjdrvJzs7usl9xcXHkcVFRESdOnIg83rx5M++++y55eXk8/PDDXHvttQDU1dUxZMiQHo/ri5ycc9cq66/11KOpv2IMNBzFXf4kjqLLsBeN7JfnPMOVktj1x84V3472o2RoNvIc4WtBnZ4gphAxXy9Ii+P1ONOWSqqnDpuuIJSev5gYRmJPVe97fDqpwSya9WpGOK6mJD+Vz+ramT4yL6rxwcD4zOkPid1SvuK73/0uc+bMwTAM3nvvPebOncuWLVvIyuqfGVqNjR1YVvczX/Ly0jh5sr1ffk+09FeMZsMRPFufRisuxUwf0q8VDhK9YsK54vOIEK911HCdkUswEJ6mfKKpE4ehYVqxu0aiqWpMf9/ZFEKqDb3zZI9DcoahEwwm7ho85xufU2RQ5fuUAnMMWak23vywhpvHRDcJDZTPnP4Qk69URUVF1NfXY5rhk9c0TRoaGigqKjprv7q6ushjt9tNYWH45ri8vDwMI1wy5JZbbqGoqIjDh8NL8RYXF1NbW9vtcVLfhU58hmfL/0EvuRItKznqhPXVG/7j5KoOUpRwG/QFQgSCVlLeQR8ekquPdxgx4yQdL214RCt5mU5qGtpp9wTiHdagEZMklJOTQ2lpKZs2bQJg06ZNlJaWdhmKA5g6dSpr167FsiyampqoqKhgypQpANTXf9noDxw4QG1tLZdeemnkuD/96U8AVFdXs2/fPm677bZYvLRBI+Q+hHfbM+jDrkbNkAn8q1qtAO8HGrhU+/Kb36lWHw67ljTXgr4qoKecniWXHDeuKopCClnUWZ+hayoFWS45S64fxWw47oknnmDhwoWsXLmS9PR0li5dCsDs2bOZP38+48aNo6ysjD179jB58mQA5s2bx9Ch4aKBTz/9NPv370dVVQzDYNmyZeTlhbvE//Iv/8LChQuZNGkSqqqyZMkSUlMHzno08WaeOIz3tWfQh12T9FOwu7PNf4xizYVDCZ8u/qCJNxAiKzWxr29Fi1BUQpoDV6CJTnv0r40kglQlizrrICPVG8jPdPBBZT23X13c+4FSrxQhbwEGkveakHmyGs/mZehDr0LNKIhCZF8aiNeETppenu7cx3gjH9vpC/G1pzoQgnBPKMbif00ozBbqQBGC+oxxZ20bbNeEIHzDdp04xDjtbtKsQir+fpzfzLslfBNrFAyUz5z+MPhvbpB6ZDbX4dnyH+glV0Y9AQ1Um/01DNNSIgkoEDTx+EPYk+Dm1HMJai6cwVZUK3GTTX9SFIUUJYvj1gF0XSU/y8nHn8lacv1BJqEkZXU04t28DK1oNGpmUe8HJKHjZieHQ62RIqUAp9p8OGw6ShJeC/qqcC05JymB5PkgTiWbk6KakAhQmO3ivX3ueIc0KMgklISEvxPPpmXhheey5UJdPSn3VXOJnoZ+etXXQMik0xcc1IVKz0dAc5HmS54PYl0xcJJGvThCQZaTmvoOWjsSd3h5oJBJKMkIM4hn229RnOlo+SPiHU7C+jzUitvyUKJ8WfrpVKsPh6ElfS/ojKDmwDC96KY33qHETIqSxTFzP5qmUpTj4oPK5JmqHi0yCSURIQS+t/8Lgj604tJ4h5OwhBBs9B1luJqGejrjRHpBMa6OkNAUhYCWQprv/KqTDGQuMvDSTodooijHxc69ydMTjBaZhJJIYHc5Zv3naMOujtQ+k862P9RMuwhSpLoiPzvVKq8FdSegu0jz1UOSTLJVFIU0sjlm7ic3w0FrZ4DjJ+XyDhdDJqEkEaz+mMC+7ejDr0dR5bf5nlhCsNF/tEuR0kBQXgvqianaEIqCM9gc71BiJlXJwS0+wyJEcW4K78re0EWRSSgJmM21+N7+L/Th16HYnPEOJ6F9FDyJECKyVAPAyVYvTtkL6lFATyHdV9f7joOEodhxkMoJcYSS3BTe2+cmZMb/3q2BSiahQU4EPHi3/TY8FTtJl+Puq6Aw2eKvYYSWHukF+QIhvPK+oHMKaC4cgVY0K3nqqaUpORw195Di1El1Guz5XJbxuVAyCQ1iQgi8b/w/FGcGWs6weIeT8N7urMWl6GSpX5bjaWjx4rDLXtC5CEUlqLtIS6LekJN0gvhoFfUU56bwxt9rez9I6pZMQoNYYM8WrJZaOROuDzwixNaOcC8o8jN/kGDIwpGElbLPl19PJd3rTqoJCqlKDketvRTnuKg+0UZDS/JMVe9PMgkNUqEThwl8shl9mFwVtS8q/MfJ152kKl/WAqtv9oYXrJO9oF6ZqoGl6ElVQSGdXBrFMYKqh6H5qbzx0bF4hzQgySQ0CAlfB76KFegl41Dsrt4PSHJNlp+/BhoYaXzZC2rt9COEwKbLU6Sv/HoKmZ5jQHL0hlRFI5Ucjpp7GVaQyrv73PgDybG8RX+SZ9ggI4TA+9bzKGm5qJlyXaC+KPdVM1RLwXF66rolBCdbfbhkL+i8BDUXmhXEHmiJdygxk67kUisOYLcLstMcvP+pnK59vmQSGmSClW9gNR9HKxoT71AGhBqzg89CrQz7SpHSpjYfuqagy17Q+VHAb6SS3l4d70hixlDsuEjnuFXJ8MI0tvztaI9Lwkjdi9lZVlVVxcyZM5kyZQozZ86kurr6rH1M02Tx4sVMnDiRSZMmsXbt2si2FStW8K1vfYvp06fzj//4j+zcuTOybeHChdx+++2UlZVRVlbGqlWrYvGSEo7ZVIt/1zp5HaiPhBCs837BCD09UqQ0GLJo7vCHe0HSefNrKRjBDmyhxF4Lpz+lK/lUW5+Qkaahqopc4uE8xexMe/zxx7nvvvsoKytjw4YNLFq0iJdeeqnLPuXl5dTU1LB9+3ZaWlqYMWMG48ePp6SkhKuuuopZs2bhdDo5ePAg999/P++++y4OR/imwoceeoj7778/Vi8n4YhQEF/FCrTi0SgOuapsX3wSaqRdBBmjZEZ+Vt/swWHTUVU5DndBFIWALY3szipOZFwV72hiwq64sAknbvEZwwuHs+HdKq4fnSdLY/VRTHpCjY2NVFZWMm3aNACmTZtGZWUlTU1NXfbbsmUL9957L6qqkp2dzcSJE9m2bRsAt912G05n+G7/0aNHI4SgpSV5xp570/TWH0BRUbPl/UB94Rcm633VjNIyIh8W7Z0B/EETp7wx9aIEjDRsoQ7swbZ4hxIzGUo+X1h/Jz/LjtcfYs+RxniHNGDEJAm53W4KCgrQtPDJrWka+fn5uN3us/YrLv5y3faioiJOnDi7Qu/69esZNmwYhYVfXnhfvXo106dPZ+7cuRw5ciRKryQxheoO0L73bbShV8pvX330uv846YoRuTHVEoLaUx24HHIywsVT8BkZ5HQeSZaJcjiUVAzs1IlDjBiSzivvHEEkyT1TF2vADXzv2rWL//zP/+TFF1+M/OyRRx4hLy8PVVVZv349Dz74IBUVFZGk1xc5Oecewuqv9dT7m+nr5Pjbz+MceS1GRnrvB8SZK8Xe+05RdiLk4f32em5xFmKcvnbmPtWJoak4bIl/Smhq4k+YMG1pODxu0q0mvI78eIdzFsPo/79zjlVMVejvTCoZx9ETHRx2d3DL1cW9H9iDRP3M6W8xOeOKioqor6/HNE00TcM0TRoaGigqKjprv7q6Oq66KjyW/PWe0e7du/nJT37CypUrGTHiywXZCgoKIv+eMWMGv/rVrzhx4gRDhgzpc4yNjR09zmrJy0vj5MnEvNDqrViJcGVjZBfh6UzsVR5dKfa4xyiE4L89BxiupqKFFIKYeAMhmtt9ZKc7MK3ELkSpqeqAidFjZJDZ+hntaiZCSZzEaRg6wWCo359Xx4EhHBzs+Dsjh4zhd+v3MqIgBV07/9eeyJ85Z/RXkoxJy8jJyaG0tJRNmzYBsGnTJkpLS8nOzu6y39SpU1m7di2WZdHU1ERFRQVTpkwBYO/evTzyyCMsX76csWPHdjmuvv7L1Q137tyJqqpdEtNgFTyyC9N9SE7HPg8fBk/SbPkpOT0l2xICd2MnKQ4jsoCd1D9CmgNTMcj0VMc7lJjJVIqotnaTlaFgMzTe/Ph4vENKeDEbe3jiiSdYuHAhK1euJD09naVLlwIwe/Zs5s+fz7hx4ygrK2PPnj1MnjwZgHnz5jF06FAAFi9ejM/nY9GiRZHnXLZsGaNHj2bBggU0NjaG6zmlprJq1Sp0PfGHVS6G1dmM793/Dq8PpA3u19pf2qwAG3zVXK3nRBLOyRYvqqpgMxLnm/pg4rVlku5z02nPJ6AP/lmbNsWBS2TyubmLMcNuZsO71dx0RSEZKbZ4h5awFCGvngEDazhOCAvPpmUoioJWeDmQGENdvYlnjEII/st7kIAwGallANDpC+Ju9JCRakNRBtZQVyL7eoz2UAe66aM28zpIgGG5aA3HnWGKELXiADfqMzhWo5CT7uChb4/t/cCvSLTPnO4MqOE4qX8F9r2O6GhELbgs3qEMGLuCDbhND5eq4ckbIdPC3egh1SmXaYg2v5YKKGR3fhHvUGJCU3QylEL2h97msuJ0Pq1qYn9VU+8HJimZhAYYs+kYgY/Xow+7GiUBvlUOBCctLxt8RynVslAVBYGg9lQndpsmS/PEggIeWxap/pO4/Mmx+Fs6uQTwUq9+xpWXZvHC5gN4/dHrfQ1k8gwcQEQogPf1/4tWXIpiT4l3OANCUFis9hxiuJ5GmhpepqG+2YsQQt6UGkNCUfHYcsjr+AzD7Ix3OFGnKAo5SgmHrb+SninISrPx8vZD8Q4rIckkNID43v8Dim5HzSqJdygDghCCv/i+QEFhqBJO2s0dfjq9QVKchrwpNcZCmg2vkUFh676kWArcrrhII5f95luMGZZJZXUzf9t/9s33yU4moQEieGQX5tFP0EpkVYS+ei9wgkOhFkq1TBRFocMXpLHVS5rLkNeB4iSgpxDUXBS17kG1gvEOJ+oylQI8ogW3coBrL8vh5e2fUXdq8PcEz4dMQgOA1eLGt/P3aJdci6IZvR8gcSDYzFb/Ma7Sc9AVFY8/hLuxk1SnTRYnjTOfno6pGEmRiBRFJVe5hCPWLtSUdkYPy+S3a/fQ4R3cr/t8yCSU4ETQh+e1Z9AKL0d1ZfZ+gMTRUDsvew8zTs/Gpeh4/SFqT3WQ6jTQdZmA4k4Br5GJpegUt36CZiX2rQUXy6Y4yFaGsDu0laI8new0O8+u20swlNhT7WNFJqEEJoSF983nUGwu1BxZHbsvjpsdPO85QKmeSaZqp9MX5PjpBGTImXCJ43QiCql2hrTsxhbqiHdEUZWqZOMkjU/M17h8aBpef4jnNnwqF8BDJqGE5t/1F6ymWrQhY+V1oD6oCrWzqrOS0XomeaqT1k4/dY2dpMkElJgU8Bnp+PR0ilr3DPrp21lKMUHh44D1DleNzKausZMXNldiJXm9AHlmJqjAgbcJHXo3XJZHrpLaq73BRn7nOUCpnkWe6qChxcPJVh/pLpu8FyjBBXQXHfY8cjsOk9PxOYjBOUylKAp5yiU0ixMcEX/julG5HKlr43fllQlfBSOa5NmZgIJffIh/11r0ETeiGPFf+iCRWUKw1VfDn71fcI2eQ4Zlo6a+g05fiIwUG5ome5ADganaaHcU4Ai2MqTl40F7L5GqaBQoI2gQVXzBB1x/eS419e0s/8te/AEz3uHFhUxCCSb4xUf4dqxGv/RGuUx3L5otPys8+9kdbORGIw/TI6iub0NTFdKcchr2QCMUlU5bDiHNQXHLJ2R6jsIgHKrSFJ0CZSQNoopDvMO1o7Jp9wR58uWPaGrzxTu8mJNJKIEEDr6Db8eL6CNuRHVlxDuchGUKwU6/m//o2IOByhiRgbu+k+Z2P+kuGw67Jm9EHagU8OuptNsLSPGfpKTlIxzB1nhH1e80RadQGUmbOMlusZnRl7rITLHxxOoP+bQquZYGl1W0T4tnFW0hLPy7/kLo0M7wEJzj/KvTJkMVbSEElaFmNvqPIgRcIlLxtIbwB0ycdg27cXHJZyBWqE5E/RajAJvpwRFsxWek05QygpDmvOinjXYV7fMhhKBZuPHQylXaJMy2TPZ80cid1w1l2s3Dwm06QfVXFW2ZhE6LVxKyPC1431iF6GxGv+S6C74GNJiTUECYfBJs5M1AHX5hUhByQpsgFBI4bBoOW//0fJLqAz6K+jtGRQjsoXbsoXY6bbm0pFxCSHVc8PMlUhI6o1O00CiOU6hcxiXiBqpqfTS1+XhgymiuHpmTkLNjZRLqZ7FOQsKyCB58B/+utag5w9AKR11UVezBloR8IsTnoTY+CTayP9REqmWQ6jNQOgWGFu712HS1X4fdkvEDPhqiFaMiLOzBNuxmJ14ji1bXUPxa2nm3gURMQhBeh6hZ1OGlnVLHzYhTJXxW00ZuppN77xzJqJLEull9wCWhqqoqFi5cSEtLC5mZmSxdupThw4d32cc0TZ588kl27tyJoig89NBD3HvvvRe1ra9ilYSEZRKq+gj/R6+CsNCKr+iX6z+JmoQE4SEHyxI4nTY8nkD4MYIAFh5h0ikCtJgBTlk+3KaHWtFJixIgJaRjD6jYvRpOVcfQVGyGGrWyO8n8Ad+foh2jIizsoQ5soU5M1aDdUUinPR9T7dvqpYmahM7wi07alAb8lpcS5UqUpmEcrQ2Qk+5g8jeGcv3leRh6/Ifp+isJxWxd6Mcff5z77ruPsrIyNmzYwKJFi3jppZe67FNeXk5NTQ3bt2+npaWFGTNmMH78eEpKSi54WyIQwsI6WU2w6kNCn70HhgMt71KU9IKE7Gb3xBSCNhGg1QrQZPk5FfDRHPLTYvnpsIJ4MQkoJiEEpiIQisACUAQCoB1QwokJQBWgWSqapaBbCppQsJkaLksjx0rDUFV0TUVLUeREAylCKGrkJlfD8pHqbyDLc5SQ6qDTloPPlolfT0cM0PW27EoKxcYoOgJtnBLVdGbtJi0rD9U7lPW7Wnlpm87VI3O5bnQ+Y4ZlkuYa2EuHxyQJNTY2UllZyerVqwGYNm0av/jFL2hqaiI7Ozuy35YtW7j33ntRVZXs7GwmTpzItm3bePDBBy94W1/19u26L9++hWUi/B3gacXqaMRsrcdqrMFqrEHRbSipOdiuuBM1ClOvVbsNzTr/P6clwj0SnzDxiRDtZpB2K0ibGU42rVaQdgJ4lBABxUSzVHRTQbUUNBQ0XUMXKWSjoKOioaArKqoCCgoq4f9D+BuyZVkoX/lZIlFPx5fIZIw9EditACmmH81qRA+4Cal2gpqToOYiqDmwVBsh1UAz7AR0R0J/sdENnVTDQSH5WMLESwd+VzPkHCMFaA6m83pNGuWf2nCqqRRmZFOSnUVBehrZ6Q7SU2zhWola4ifimCQht9tNQUEBmhbuQmqaRn5+Pm63u0sScrvdFBcXRx4XFRVx4sSJi9rWV1lZ514kLienr4kjAxhyXr+7vyTWiLEkSVLvEj9NSpIkSYNWTJJQUVER9fX1mGa4LIVpmjQ0NFBUVHTWfnV1dZHHbrebwsLCi9omSZIkJa6YJKGcnBxKS0vZtGkTAJs2baK0tLTLUBzA1KlTWbt2LZZl0dTUREVFBVOmTLmobZIkSVLiitkU7SNHjrBw4ULa2tpIT09n6dKljBgxgtmzZzN//nzGjRuHaZosWbKE9957D4DZs2czc+ZMgAveJkmSJCUuebOqJEmSFDdyYoIkSZIUNzIJSZIkSXEjk5AkSZIUNzIJSZIkSXETs9pxA8nixYv561//is1mw+Vy8dhjjzFu3Liz9nvllVd46qmnGDIkXCGhpKSEFStWRC2uiy0CG23Nzc389Kc/paamBpvNxiWXXMKSJUvOmoq/cOFC3n//fbKysoDwFPsf/ehHMYlxwoQJ2Gw27PbwkhmPPvoot912W5d9vF4vP/vZz9i/fz+aprFgwQLuuuuumMR3/Pjk+AxQAAAJ8ElEQVRx5s2bF3nc3t5OR0cHu3bt6rLfs88+y//8z/+Qn58PwHXXXcfjjz8etbiWLl3Ka6+9Rm1tLeXl5Vx++eVA39okRL9ddhdfX9sjxKZN9vQe9qVNQmzaZXcx9rVNwgW2SyGd5c033xSBQCDy77vvvrvb/datWycefvjhmMX1wAMPiPXr1wshhFi/fr144IEHztrn1VdfFbNmzRKmaYrGxkZx2223iWPHjsUkvubmZvG3v/0t8vjXv/61+NnPfnbWfgsWLBAvv/xyTGL6urvuukscOnTonPs8++yz4rHHHhNCCFFVVSW++c1vio6OjliEd5Ynn3xSLF68+KyfL1++XPz617+OWRwffvihqKurO+v960ubFCL67bK7+PraHoWITZvs6T3sS5sUIjbtsqcYv6qnNinEhbVLORzXjbvuugvDMAC45pprOHHiRNyLRp4pAjtt2jQgXAS2srKSpqamLvv1VMw1FjIzM7npppsij6+55poulSwGiq1bt0buMxs+fDhXXnklO3bsiHkcgUCA8vJy/umf/inmv/vrbrjhhrMqnPS1TUL022V38SVae+wuxvMRi3bZW4zRaJMyCfVizZo13Hnnnahq92/Vrl27KCsr4/vf/z5vv/121OI4VxHYr+93scVc+4NlWfzxj39kwoQJ3W5fvXo106dPZ+7cuRw5ciSmsT366KNMnz6dJ554gra2trO219XVRYZYIX7v4ZtvvklBQQFjx47tdvvmzZuZPn06s2bNYvfu3TGOru9t8sy+8WyXvbVHSOw2CYnRLntrk3D+7TIprwl95zvf6fEb0fvvvx85qTZv3kx5eTlr1qzpdt8777yTe+65B4fDQWVlJbNnz+all15i5MiRUYt9oPjFL36By+Xi/vvvP2vbI488Ql5eHqqqsn79eh588EEqKioi73s0rVmzhqKiIgKBAL/85S9ZsmQJv/nNb6L+ey/EunXrevzG+d3vfpc5c+ZgGAbvvfcec+fOZcuWLZFrGlJX52qPINtkX52rTcKFtcuk7Am9+uqrfPDBB93+d6bRvf766/z2t7/lhRdeIDc3t9vnyc7OxuEIr3V/xRVXcN1117F3796oxNwfRWBjZenSpRw9epRnnnmm2x5kQUFB5OczZszA4/HE7BvdmffLZrNx33338fHHH5+1T3FxMbW1tZHH8XgP6+vr+fDDD5k+fXq32/Py8iJDxrfccgtFRUUcPnw4liH2uU2e2Tde7bK39giJ3yYh/u2ytzYJF9YukzIJ9eatt97iV7/6FS+88MI5V2etr6+P/Lu2tpZPPvmE0aNHRyWm/igCGwtPP/00n376KStWrMBm637Fx6++bzt37kRVVQoKCqIem8fjob09vEy7EIItW7ZQWlp61n5Tp07lT3/6EwDV1dXs27ev29lK0fTqq69yxx139PgN8qvv4YEDB6itreXSSy+NVXhA39skxK9d9qU9QuK3SYh/u+ytTcKFtUtZO64bN998M4ZhdDmZfv/735OVlcVjjz3GhAkTuPvuu3n66ad54403Ir2nf/7nf+Y73/lO1OK62CKw0Xb48GGmTZvG8OHDIz3EM9PWy8rKeP755ykoKOCHP/whjY2NKIpCamoqP/3pT7nmmmuiHt+xY8d4+OGHMU0Ty7IYOXIkP//5z8nPz+8Sn8fjYeHChRw4cABVVfnJT37CxIkTox7fV02ZMoXHHnuM22+/PfKzr/6dFyxYwP79+1FVFcMwmD9/PnfccUfU4nnyySfZvn07p06dIisri8zMTDZv3txjm/x6vNFul93F98wzz/TYHoGYt8nuYnzuued6bJNfjzEW7bKnvzN03ybh4tulTEKSJElS3MjhOEmSJCluZBKSJEmS4kYmIUmSJCluZBKSJEmS4kYmIUmSJCluZBKSpDjz+XzMmTOH66+/nvnz57Nx40ZmzZoVt3gmTJjA+++/H7ffLyWXpCzbI0kXqry8nNWrV1NVVUVKSgpjxoxhzpw53HDDDRf8nNu2bePUqVN88MEH6Hr4lPz2t7/dXyFLUkKTSUiS+mj16tU8//zzLF68mFtvvRXDMNi5cydvvPHGRSWhuro6hg8fHklA5xIKhfq0nyQNFHI4TpL6oL29neXLl7No0SImT56My+XCMAwmTJjAggULIsUnb731Vm699VZ++ctfEggEAPjggw+4/fbbefHFFxk/fjy33nor69atA2D58uWsXLmSrVu3cu2117J27VpeeeUVvve970V+9+jRo1mzZg2TJ09m8uTJkef73e9+F3m+iooK3nnnHaZMmcI3vvENnnvuucjxlmXx/PPPM3HiRG666SZ+/OMf09LSEtm+fv167rrrLm666SZWrVoVo3dUksJkEpKkPti9ezd+v59JkyZ1u33VqlXs2bOHDRs2sHHjRvbt28fKlSsj20+dOkV7ezs7duyIVEpubW1l/vz5/Ou//iv/8A//wO7du3tcbbSiooI///nPbNmyJfJ8fr+fHTt2MH/+fH7+85+zceNG1q1bx5o1a1i5ciXHjh0D4OWXX6aiooI//OEP7Ny5k4yMDJYsWQLA559/zuLFi1m2bBk7d+6kpaUlLstWSMlLJiFJ6oOWlhaysrJ6HAorLy9n3rx55OTkkJ2dzbx589i4cWNku67rzJs3D8MwuOOOO3C5XFRVVfX59z/00ENkZmZGaqDpus6PfvQjDMPgnnvuobm5mR/84AekpqYyatQoLrvsMg4dOgTA//7v//LII49QWFiIzWbj3/7t33jttdcIhUJs27aNO++8kxtvvBGbzcaPf/zjHitNS1I0yMFlSeqDzMxMmpube7wm09DQ0GXRtuLiYhoaGroc/9XjnE4nHo+nz7+/u1VDzxTOPZOYcnJyItvtdjudnZ1A+JrTvHnzuiQXVVVpbGykoaGhy3IALpeLzMzMPsclSRdLJiFJ6oNrr70Wm81GRUUFU6dOPWt7fn4+dXV1jBo1Cgiv9XKmEnJ/UBTlgo8tLCzkqaee4vrrrz9rW35+fpdVRL1eb5frRZIUbbLfLUl9kJaWxvz581myZAkVFRV4vV6CwSDvvPMOy5Yt41vf+harVq2iqamJpqYmVqxYcc7Fv2Lpe9/7Hs8880xkQbQz6/lAuDz/22+/zUcffUQgEGD58uVYlhXPcKUkI3tCktRHs2bNIjc3l5UrV/Loo4+SkpLC2LFjmTNnDmPHjqWzszNyf8/UqVOZO3dunCMO+8EPfoAQglmzZtHQ0EBOTg733HMPEydOZNSoUSxatIhHH30Ur9fLD3/4w5ivIislN7mekCRJkhQ3cjhOkiRJihuZhCRJkqS4kUlIkiRJihuZhCRJkqS4kUlIkiRJihuZhCRJkqS4kUlIkiRJihuZhCRJkqS4kUlIkiRJipv/Dwh7tY+F3S9OAAAAAElFTkSuQmCC\n",
            "text/plain": [
              "<Figure size 432x288 with 1 Axes>"
            ]
          },
          "metadata": {}
        }
      ]
    }
  ]
}